@import "variables";
@import "base";

.account-settings {
	background: url("../assets/icons/settings.svg") no-repeat $user-menu-img-pos-x 50%;
	background-size: $user-menu-img-width auto;
}

.zeroth-live-sites {
	background: url("../assets/icons/live-sites-zeroth.svg") no-repeat;
	background-size: contain;
	width: 150px;
	height: 150px;
	display: inline-block;

	@include for-tablet-portrait-up {
		width: 180px;
		height: 180px;

		@media screen and (orientation: landscape){
			width: 120px;
			height: 120px;
		}
	}

	@include for-tablet-landscape-up {
		width: 220px;
		height: 220px;
	}
}

.guided-tour {
	background: url("../assets/icons/guided-tour.svg") no-repeat $user-menu-img-pos-x 50%;
	background-size: $user-menu-img-width auto;
}

.read-documentation {
	background: url("../assets/icons/documentation.svg") no-repeat $user-menu-img-pos-x 50%;
	background-size: $user-menu-img-width*0.9 auto;
}

.kitsune-blog {
	background: url("../assets/icons/kitsune-blog.svg") no-repeat $user-menu-img-pos-x 50%;
	background-size: $user-menu-img-width*0.9 auto;
}

.open-IDE {
	background: url("../assets/icons/code-dark.svg") no-repeat $user-menu-img-pos-x 50%;
	background-size: $user-menu-img-width*1.1 auto;
}

.billing-info {
	background: url("../assets/icons/tax-billing-invoice.svg") no-repeat $user-menu-img-pos-x 50%;
	background-size: $user-menu-img-width auto;
}

.logout {
	background: url("../assets/icons/logout.svg") no-repeat $user-menu-img-pos-x 50%;
	background-size: $user-menu-img-width*0.9 auto;
}

.graphic {
	background: url("../assets/icons/graphic.svg") no-repeat $user-menu-img-pos-x center;
	background-size: $logo-height*0.25;

	@include for-tablet-portrait-up {
		background-position: center center;
		background-size: $logo-height*0.28;
	}
}

.projects {
	background: url("../assets/icons/projects.svg") no-repeat $user-menu-img-pos-x center;
	background-size: $logo-height*0.3;

	@include for-tablet-landscape-up {
		background-position: center center;
		background-size: $logo-height*0.35;
	}
}

.live-sites {
	background: url("../assets/icons/live-sites.svg") no-repeat $user-menu-img-pos-x center;
	background-size: $logo-height*0.3;

	@include for-tablet-landscape-up {
		background-position: center center;
		background-size: $logo-height*0.35;
	}
}

.ana-chatbots {
	background: url("../assets/icons/ana.svg") no-repeat $user-menu-img-pos-x center;
	background-size: $logo-height*0.4;

	@include for-tablet-landscape-up {
		background-position: center center;
		background-size: $logo-height*0.4;

	}
}

.billing {
	background: url("../assets/icons/billing.svg") no-repeat $user-menu-img-pos-x center;
	background-size: $logo-height*0.3;

	@include for-tablet-landscape-up {
		background-position: center center;
		background-size: $logo-height*0.35;

	}
}

.settings-sidebar {
	background: url("../assets/icons/settings-light.svg") no-repeat $user-menu-img-pos-x center;
	background-size: $logo-height*0.3;

	@include for-tablet-landscape-up {
		background-position: center center;
		background-size: $logo-height*0.35;
	}
}

.next {
	background: url("../assets/icons/play.svg") no-repeat center;
	background-size: $logo-height*0.25;
	padding: $padding-alpha/2;
	margin-right: 0.2rem;
}

.google-plus {
	background: url("../assets/icons/google-plus.svg") no-repeat center;
	background-size: 1.2rem;
	padding: $padding-alpha*0.65 $padding-alpha*3 $padding-alpha*0.65 0;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
