// Colors //
$white: #fff;
$red: #ff0000;
$emperor: #545454;
$wild-sand: #f4f4f4;
$nobel: #b7b7b7;
$mine-shaft: #313131;
$mine-shaft-dark: #2f2f2f;
$mine-shaft-light: #3b3b3b;
$dove-gray: #626262;
$kitsune-orange: #f06428;
$gray: #7e7e7e;
$grayDark: #8b8b8b;
$vermilion: #ff4d00;
$atomic-tangerine: #ff9566;
$gallery: #eeeeee;
$alto: #dadada;
$alto-light: #d8d8d8;
$black: #000000;
$abbey-light: #252525;
$dove-black: #616161;
$gallery: #efefef;
$abbey: #4e4e4f;
$mercury: #e9e9e9;
$silver: #b9b9b9;
$lima: #53B925;
$boulder: #777777;
$scorpion: #5a5a5a;
$silver-chalice: #adadad;
$forest-green: #20a738;
$wild-sand: #f4f4f4;
$alabaster: #fcfcfc;
$alabaster-light: #fbfbfb;
$boulder: #787878;
$alabaster: #f7f7f7;
//$tundora: #4b4b4b;
$silver: #bebebe;
$silver-light: #cdcdcd;
$yellowOrange: #ffa24c;
$grey: #8b8b8b;
$tundora: #494949;
$dustyGrey: #969696;
$dusty-gray-dark: #979797;
$silverChalice: #ababab;
$wild-sand-dark: #f5f3f3;
$concrete: #f2f2f2;
$mercury: #e7e7e7;
$scorpion: #5b5b5b;
$dodger-blue: #0bb7fb;
$persian-red: #c5352f;
$river-bed: #464f62;
$cod-gray: #0f0f0f;
$malachite: #22d01b;
$pistachio: #6dca07;

// Layout //
$border-radius: 4px;
$border-radius-btn: 3px;
$sidebar-bg: $mine-shaft-light;
$sidebar-width: 6rem;
$sidebar-width-phone-only: 275px;
$content-width: calc(100% - #{$sidebar-width});

$font-weight-light: 100;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//Sidebar
$logo-height: 74px;
$sidebar-link-height: 5rem;
$sidebar-link-height-phone-only: 4rem;
$sidebar-link-font-size: 0.8rem;
$sidebar-link-active-bg: rgba(255,255,255,0.23);

//Navbar
$top-nav-height: 7.75rem;
$top-nav-height-phone-only: 5.75rem;
$padding-alpha: 1rem;
$padding-beta: 4rem;
$add-money-container-border: 1px solid $white;

//sticky-title
$sticky-title-height-phone: 52px;
$sticky-title-height: 80px;

//main content
$main-content-height-phone: calc(100vh - #{$top-nav-height-phone-only} - #{$sticky-title-height-phone});
$main-content-height: calc(100vh - #{$top-nav-height} - #{$sticky-title-height});

$main-content-height-live-sites: calc(100vh - #{$top-nav-height} - #{$sticky-title-height} - 50px);
$main-content-height-live-sites-phone: calc(100vh - #{$top-nav-height} - #{$sticky-title-height});

//overlay
$overlay-opacity: 0.92;
$sidebar-link-padding: 2rem;
$sidebar-border-active-width: 0.25rem;

//dropdown
$user-menu-img-width: 0.9rem;
$user-dropdown-padding-alpha: 1.2rem;
$user-dropdown-padding-beta: 1.8rem;
$user-menu-img-pos-x: 2rem;
$user-menu-item-padding: 3.8rem;

//updates
$updates-icon-width: 1.3em;
$update-container-width-phone-only: 275px;
$update-container-width: 350px;
$updates-header-height: 20px;

//alert
$padding-alert: 1rem;

//Projects Container
//$padding-alpha: 3rem;

$padding-alpha-for-mobile-view: 1rem;

//$padding-beta: 1.5rem;

$border-color: #d8d8d8;
$project-card-border-color: #e5e8ea;
$border-padding-left: 1rem;
$project-cards-details-text-size: 0.8rem;
$projects-header-height: $top-nav-height-phone-only*0.35;

$font-size: 17px;
$line-height: 1.3;
$lines-to-show: 2;

//action
$action-container-width-phone: 300px;
$action-container-height: 500px;
$action-container-width: 500px;
$action-button-width: 275px;
$action-margin-before-after: 10px;
$action-select-container-margin-top: 100px;
$start-blank-height: 300px;
$crawl-section-width-portrait: 600px;
$crawl-section-width-landscape: 800px;
$crawl-section-width: 1000px;
$blank-section-width: 450px;
$blank-section-width-landscape: 370px;
$action-container-height-phone: 250px;

// Gradient for Sidebar
$sidebar-padding: 18px;
$sidebar-skeletion-height: 100%;
$sidebar-skeleton: linear-gradient(lightgrey ($sidebar-skeletion-height), transparent 0);

$sidebar-avatar-size: 60px;
$sidebar-avatar-position: ($sidebar-padding) ($sidebar-padding+17px);
$sidebar-avatar-skeleton: radial-gradient(circle 30px at center, white 99%, transparent 0);

$side-desc-line-height: 12px;
$side-desc-line-width: 70%;

$desc-line-height: $side-desc-line-height;
$desc-line-1-width: $side-desc-line-width;
$desc-line-1-position: ($sidebar-padding - 2px) 242px;
$desc-line-skeleton: linear-gradient(white ($side-desc-line-height), transparent 0);

$desc-line-2-height: $side-desc-line-height;
$desc-line-2-width: $side-desc-line-width;
$desc-line-2-position: ($sidebar-padding - 2px) 350px;
$desc-line-2-skeleton: linear-gradient(white ($side-desc-line-height), transparent 0);

$side-img-radius: 17px;

$img-2-size: 40px;
$img-2-position: ($sidebar-padding+10) 195px;
$img-2-skeleton: radial-gradient(circle $side-img-radius at center, white 99%, transparent 0);

$img-size: 40px;
$img-position: ($sidebar-padding+10) 300px;
$img-skeleton: radial-gradient(circle $side-img-radius at center, white 99%, transparent 0);

// Gradient Navbar
$navbar-padding: 1px;
$navbar-height: 128px;
$navbar-width: 100%;
$navbar-skeleton: linear-gradient(lightgray ($navbar-width), transparent 0);

$nav-desc-top-margin: 75%;
$nav-desc-height: 50%;
$nav-desc-width: 20%;

$nav-desc-line-height: $nav-desc-height;
$nav-desc-line-1-width: $nav-desc-width;
$nav-desc-line-1-position: 3.7% $nav-desc-top-margin;
$nav-desc-line-skeleton: linear-gradient($gallery ($nav-desc-height), transparent 0);

$nav-blur-width: 20%;
$nav-blur-size: ($nav-blur-width) $navbar-height;

// Gradient for card
$card-padding: 24px;
$card-height: 300px;
$card-skeleton: linear-gradient(white ($card-height), transparent 0);

$card-img-height: 160px;
$card-img-width: 90%;
$card-img-position: 50% 20px;
$card-img-skeleton: linear-gradient($gallery ($card-img-height), transparent 0);

$card-title-height: 30px;
$card-title-width: 50%;
$card-title-position: 10% 210px;
$card-title-skeleton: linear-gradient($gallery ($card-title-height), transparent 0);

$card-details-height: 20px;
$card-details-width: 30%;
$card-details-position: 8% 260px;
$card-details-skeleton: linear-gradient($gallery ($card-details-height), transparent 0);

$blur-width: 200px;
$blur-size: ($blur-width) $card-height;

//login
$full-view-height: 100vh;
$full-view-width: 100vw;

//Loader
$dot-width: 50;

// MODALS
$modal-width: 400px;
$modal-width-publish: 600px;
$modal-height-publish: 330px;
$modal-border-radius: $border-radius;
$modal-header-padding: 0.5em 2em;
$modal-header-gradient: linear-gradient(to right, #{$mercury} 1%, #{$silver-chalice} 100%);
$modal-header-title-font-size: 17px;
$k-title-font-size: 14px;
$modal-header-title-padding: 1em 1.5em;
$modal-header-background-size: 1.2em;

//account settings
$edit-account-min-width: 700px;
$edit-account-min-width-landscape: 400px;
$edit-account-min-width-portrait: 300px;
$edit-account-width-phone-only: 90vw;
$edit-account-width: 35vw;
$edit-input-width: 320px;
$edit-input-width-phone: 275px;
$textarea-height: 100px;

// migration
$line-height-stage-description: 1.4;
$migration-card-width: 800px;

//billing
$transaction-width: 400px;
$billing-section-height: 450px;
$transaction-content-height: 40vh;

//zeroth-live-sites
$zeroth-live-sites-width-desktop-up: 800px;

//waves
$wave-top-position-portrait-landscape: -70px;
$wave-top-position: -128px;
$wave-top-position-phone-only: -100px;

//credits
$credits-width: 450px;

//dns
$dns-modal-width: 500px;

