@import '../../../variables';

.stage3footer-base-container {
	background: $white;
	text-align: right;
	border-radius: 0 0 $border-radius $border-radius;

	.stage3footer-container {
		padding: 1.7em;
		span {
			opacity:0.3;
			font-size: 36px;
		}
	}
}
