@import '../../../variables';

.stage2-body-container {
	padding: 1.8em 1.8em 2.5em 3em;
	display: flex;
	color: $tundora;
	background: $white;

	.stage-information {
		width: 50%;

		.stage-name {
			font-size: 44px;
			font-weight: 100;
			color: $kitsune-orange;
			width: 3em;
			display: block;
		}

		.stage-description {
			padding-top: 0.5em;
			font-size: 12px;
			line-height: $line-height-stage-description;
			display: block;
		}

	}

	.url-options {
		width: 50%;
		margin-left: 1em;
		overflow: auto;
		max-height: 12em;

		span {
			cursor: pointer;
			display: block;
			padding-bottom: 0.3em;
			user-select: none;


			input[type=checkbox] {
				-moz-appearance:none;
				-webkit-appearance:none;
				-o-appearance:none;
				border: 1px solid $dusty-gray-dark;
				background-color: $border-color;
				padding: 0.3em;
				outline: none;
				margin-right: 0.3em;

				&:checked{
					background-color: $kitsune-orange;
					box-shadow: inset 0 0 0 2px $white;
				}
			}

		}
	}

	.no-domains-found{
		color: gray;
		display: flex;
		justify-content: center;
		align-items: center;
	}

}
