.search-analytics .search-analytics-table > thead > tr th {
    background-color: #EFEFEF;
    font-weight: 100;
    line-height: 1.2rem;
    border: none;
    color: #A3A6B4;
    cursor: pointer;
}

.search-analytics .search-analytics-table > thead > tr th:last-child {
    color: transparent;
}

.search-analytics-table > tbody > tr td {
    font-size: 0.94rem;
}

.search-analytics-table > tbody > tr td:first-child {
    width: 28%;
}

.card-icon {
    width: 36px;
    height: 36px;
    vertical-align: middle;
}

.user-icon {
    background: url('/k-admin/images/icons/user-icon.svg') no-repeat center;
    background-size: 2rem;
}

.money-bag-icon {
    background: url('/k-admin/images/icons/money-bag-icon.svg') no-repeat center;
    background-size: 2rem;
}

.graph-icon {
    background: url('/k-admin/images/icons/graph-icon.svg') no-repeat center;
    background-size: 2rem;
}

.mail-icon {
    background: url('/k-admin/images/icons/mail-icon.svg') no-repeat center;
    background-size: 2rem;
}

.overview-card {
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.04);
    border: none;
}

.with-pointer {
    cursor: pointer;
}

.analytics-card-figures {
    font-size: 1.5rem;   
    line-height: 1.5rem;
    font-weight: 500;
}

.content-section-title {
    color: #4D4F5C;
    opacity: 0.38;
    font-size: 1.28rem;
    line-height: 1.5rem;
}

.conversion-figure {
    font-size: 0.75rem;
    line-height: 0.8rem;
}

.conversion-up {
    color: #3CC480;
}

.conversion-down {
    color: #FF4141;
}

.pagination-btn {
    background: #FFFFFF;
    border: 1px solid #E8E9EC;
    cursor: pointer;
}

.pagination-number {
    border-radius: 2px;
    background: #3B86FF;
    color: #FFF;
}

.analytics-card-title {
    font-weight: 400;
    opacity: 0.75;
}

.selected-date-range {
    color: #ff9100;
    cursor: pointer;
}

.search-analytics .card .card-subtitle {
    font-weight: 400;
    line-height: 1.25rem;
}

.card-subtitle > div {
    display: inline-block;
}

.avg-crt-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/k-admin/images/icons/info.svg') no-repeat center;
    background-size: 1rem;
    cursor: pointer;
}

.table-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.table-icon-laptop {
    background: url('/k-admin/images/icons/ic_computer_24px.svg') no-repeat center;
    background-size: 1rem;
}

.table-icon-phone {
    background: url('/k-admin/images/icons/ic_smartphone_24px.svg') no-repeat center;
    background-size: 0.65rem;
}

.table-icon-tablet {
    background: url('/k-admin/images/icons/ic_tablet_mac_24px.svg') no-repeat center;
    background-size: 0.8rem;
}

.table-icon-link {
    background: url('/k-admin/images/icons/external-link.svg') no-repeat center;
    background-size: 1rem;
    cursor: pointer;
}

.search-analytics-card-title {
    opacity: 0.65;
    font-weight: 400;
}

.country-code {
    text-transform: uppercase;
}

ul.paginate-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.paginate-links > .number > a {
    font-size: 0.75rem;
    text-align: center;
    min-width: 1.5rem;
    border-radius: 2px;
    display: inline-block;
    margin: 0 0.2rem 0 0.2rem;
    background-color: #323d4a;
    padding: 0.3rem;
    color: #FFFFFF;
    opacity: 0.7;
    cursor: pointer;
}

.paginate-links > .number.active > a {
    opacity: 1;
}

.paginate-links > .number > a:hover {
    color: #FFF;
}

.paginate-links > .left-arrow, .paginate-links > .right-arrow {
    width: 1.5rem;
    text-align: center;
    border: solid 0.5px #e8e9ec;
    border-radius: 2px;
    cursor: pointer;
    background-color: #ffffff;
}

#daterange-popover > ul li {
    cursor: pointer;
}

.search-analytics-card-figure {
    font-weight: 500;
}

@media (min-width: 768px) {
    .card-horizontal-divider {
        border-right: 1px solid rgba(0,0,0,.1);
    }

    .overview-card .card-body {
        min-height: 122px;
    }
}

@media (max-width: 767px) {
    .card-horizontal-divider {
        margin-top: 16px;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}
