.advanced-search-container {
    z-index: 1;
    margin: 0 1em;
    background: white;
    padding: 1em 2em;
    border-radius: 6px;
}

.col-md-custom-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
    align-items: center;
}


.advanced-search-container label {
    margin-bottom: 0;
}

.advanced-search-container .search {
    display: flex;
    flex-direction: row;
    position: relative;
    /*margin-top: 1em;*/
}

.advanced-search-container .search input {
    padding: 0 1em 0 1.5em;
}

.advanced-search-container .search .search-icon {
    position: absolute;
    top: 0.5em;
    left: 32em;
    width: 1.2em;
}

.advanced-search-container .kclose {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 1.5em;
    top: 1em;
}

    .advanced-search-container .kclose > img {
        cursor: pointer;
    }

.advanced-search-container .date {
    display: flex;
}

.advanced-search-container .gateways {
    display: flex;
    align-items: center;
}

.gateways > label {
    flex-basis: 20%;
    color: #9b9b9c;
}

.action-kbtns {
    display: flex;
    justify-content: flex-end;
}

.action-kbtns .btn:first-child {
    margin-right: 2em;
}

.date > label {
    flex-basis: 20%;
    color: #9b9b9c;
}

.date .date-containers {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.base-input {
    border: 1px solid #D0D7DE;
    border-radius: 6px;
    background-color: #FFFFFF;
    height: 35px;
}

.select-column {
    display: flex;
    flex-direction: row;
}

.outline-none {
    outline: none;
}

.label-width {
    flex-basis: 20%;
    color: #9b9b9c;
}

.second-width {
    flex-basis: 70%;
}

.advanced-search-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 7.5%;
}

.pd-5 {
    padding-left: .5em;
}

@media (min-width:1300px) {
    .col-md-custom-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 0;
    }

    .advanced-search-container .row:nth-child(2) {
        margin-top: 2em;
    }

    .advanced-search-container .row:last-child {
        margin-bottom: 0;
    }

    .advanced-search-container .row {
        margin-bottom: 2em;
    }
}

/* Hiding Pagination */

.VuePagination {
    justify-content: center;
}

.pagination.VuePagination__pagination {
    display: none;
}

.table-pagination {
    display: flex;
    justify-content: flex-end;
}

/* pagination button css */
.paginate-links {
    list-style: none;
    display: flex;
}

.paginate-links li a {
    padding: .5em 1em;
    border: 1px solid lightgray;
    background: #e6e6e6;
    cursor: pointer;
}   