@import '../../../variables';
@import '../../../base';

.stage5body-container {
	color: $tundora;
	display: flex;
	flex-direction: row;
	background: $white;
	padding: 2em 2em 2em 3em;

	.stage-information {
		padding-top: 0.2em;

		span {
			display: block;
			padding-right: 0.5em;
		}

		.stage-name {
			font-size: 44px;
			width: 8em;
			font-weight: 100;
			color: $kitsune-orange;

			&.dots-loading{
				@include dots-loading('stage-name',$kitsune-orange);
				@include k-keyframes('stage-name',$kitsune-orange);
			}

		}

		.stage-description {
			padding-top: 0.5em;
			width: 20em;
			line-height: $line-height-stage-description;
			font-size: 12px;
		}

	}

	.stage-progress {
		width: 100%;
		padding-top: 1em;

		.processed {
			padding-bottom: 0.7em;
			font-size: 14px;
			color: gray;

			span {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
		}

	}
}
