@*Change Password Modal*@
<k-modal modal-title="Change Password"
         v-cloak
         save-text="Change"
         size="md"
         v-if="modalsShowStatus.isEditPassword"
         :save-action="changePassword"
         :cancel-action="cancelChangePassword"
         :close-modal="hideAllModals">
    <div slot="modal-body">
        <div class="container">
            <form v-on:submit.prevent>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Old Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="px-3 form-control" autocomplete="off" autofocus
                               v-model="password.oldPassword"
                               placeholder="Old Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">New Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="px-3 form-control" autocomplete="off" autofocus
                               v-model="password.newPassword"
                               placeholder="New Password">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Retype New Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="px-3 form-control" autocomplete="off" autofocus
                               v-model="password.retypePassword"
                               placeholder="Retype New Password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</k-modal>



<k-modal modal-title="Save changes"
         v-cloak
         save-text="Save"
         size="md"
         cancel-text="Discard"
         v-if="modalsShowStatus.isEditWebaction"
         :save-action="updateWebAction"
         :cancel-action="cancelWebActionUpdate"
         :close-modal="hideAllModals">

    <div slot="modal-body">
        <div class="container">
            <p>Do you want to save the changes made to '{{getFormattedWebationName(activeWebActionForUpdate.Name)}}' ?</p>
        </div>
    </div>

</k-modal>