.collapse {
	width: 5%;
}

.architecture-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: transparentize($color-black, .6);

	.show {
		display: block;
	}

	.reopenSidePane {
		position: absolute;
		top: 109px;
		right: 26px;
		opacity: 0.5;
		cursor: pointer;
		transform: rotate(180deg);		

		&:hover{
			opacity: 0.9;
		}
	}

	.closeSidePane {
		position: relative;
		left: 136px;
		cursor: pointer;
		opacity: 0.5;

		&:hover{
			opacity: 0.9;
		}
	}
	
	.closeIcon {
		position: absolute;
		top: 78px;
		right: 64px;
		z-index: 9999;
		cursor: pointer;
		max-height: 20px;
		max-width: 15px;
		opacity: 0.5;

		&:hover{
			opacity: 0.9;
		}
	}

	.build-architecture {
		position: relative;
		box-sizing: border-box;
		width: calc(100% - 80px);
		height: calc(100% - 80px);
		border-radius: 8px;
		margin: 40px;
		background-color: $color-mine-shaft-light;

		.canvas {
			padding: 0;
			width: 100%;
			height: calc(100% - 63px);
			border-bottom: 1px solid #707070;
		}

		.architecture-content {
			display: flex;
			flex-direction: row;
			height: calc(100% - 76px);
		}

		.architecture-footer {
			margin-top: -60px;
			padding: 0px 20px;
			display: flex;
			color: #ffffff;
			font-size: 0.8em;

			& div:nth-child(2) {
				margin-left: 20px;
			}
		}

		.side-pane {
			background-color:#ffffff1a;
			height: calc(100% - 63px);
			width: 40%;
			border-bottom: 1px solid #707070;
			padding: 20px 0;
			overflow-y: auto;

			&-collapse {
				width: 5%;
				background-color:#ffffff1a;
				height: calc(100% - 63px);
				border-bottom: 1px solid #707070;
				padding: 20px 0;
			}

 			&::-webkit-scrollbar {
				background-color: #2f3545;
				width: 15px;
				height: 8px;
			 }

			 &::-webkit-scrollbar-thumb {
				background-color: #222733;
			 }

			.side-pane-header {
				color: #fff9;
				margin-left: 20px;
				margin-bottom: 20px;
				font-size: 1.2em
			}
			.component-container {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: end;
				color: #ffffff;

				.component-image {
					width: 40px;
				}

				.component-content {
					width: calc(100% - 80px);
					height: 63px;
					padding-left: 10px;
					overflow: hidden;

					.component-label {
						font-weight: 600;
						font-size: 0.9em;
					}
					.component-description {
						font-weight: 400;
						font-size: 0.8em;
						opacity: 0.6;
					}
				}

			}
		}

		.tabs-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1em 4em 1em 2em;
			background-color: #171a22;

			h2 {
				color: $color-athens-gray;
				font-size: 1.2em;
				font-weight: 600;
				opacity: 0.85;

				span{
					font-weight: 500;
					font-size: 0.8em;
				}

				.no-show{
					display: none;
				}
			}

			.tabs {
				display: block;

				&__item {
					padding: 4px 16px;
					display: inline-block;
					color: $color-white;
					font-size: 12px;
					border: 1px solid $color-white;
					cursor: pointer;
					transition: background-color .2s;

					&:hover {
						background-color: transparentize($color-white, .9);
					}

					&:first-child {
						border-radius: 4px 0 0 4px;
					}

					&:last-child {
						border-radius: 0 4px 4px 0;
					}

					&--active {
						background-color: $color-white;
						color: $color-mine-shaft-light;

						&:hover {
							background-color: $color-white;
							color: $color-mine-shaft-light;
						}
					}
				}
			}
		}
	}
}
