.context-menu {
	position: absolute;
	z-index: 10;
	top: 2%;
	left: 7%;
	padding: 12px;
	line-height: 26px;
	font-size: 13px;
	background: #828282;
	color: #fff;
	width: 200px;

	li{
		cursor: pointer;
	}
}
