.custom-loader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: $color-overlay;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&.hide {
		visibility: hidden;
	}

	.loader-bars-container {
		width: 200px;
		height: 10px;
		margin:0 auto;
	}

	.loader-bars {
		height: 100%;
		display: flex;
		transform: translateZ(0);

		i {
			flex: 1;
			background: $color-vermilion;
			animation: go 0.8s infinite alternate ease;
			box-shadow: 0 0 20px $color-vermilion;

			@for $i from 1 through $loader-bars {
				&:nth-child(#{$i}) {
					animation-delay: $loader-duration * ($loader-bars - $i)
				}
			}
		}


	}

	p {
		color: $color-white;
		position: relative;
		left: 10px;
		top: 15px;
		font-weight: 400;
		letter-spacing: 2px;
		opacity: 0.4;
		animation: loading-text-opacity 2s linear 0s infinite normal;
		cursor: default;
	}

	@keyframes loading-text-opacity {
		0%  {opacity: 0.2}
		20% {opacity: 0.4}
		40% {opacity: 0.6}
		60% {opacity: 1}
		100% {opacity: 0.2}
	}

	@keyframes go {
		100% {
			background: transparent;
			flex: 10;
			box-shadow: 0 0 0 transparent; }
	}
}
