/*Hiding full screen option*/
#playground .schema-container .full-screen {
	display: none;
}

.schema {
	&-list {
		&-loader {
			min-height: 20px;
			background: #515b71;
		}
	}

	&-container {
		display: flex;
		flex-direction: column;

		width: 100%;
		position: relative;
		overflow: hidden;

		.tab-box {
			.no-icon {
				@include tab-image("../images/language-white.svg");
			}
		}

		/*Default button styles*/

		.btn {
			border: 1px solid $color-comet;
			padding: 5px 10px;
			color: #fff;
			cursor: pointer;
			border-radius: 2px;
			margin: 0;
			font-size: 11px;
			outline-color: transparent;

			&:hover {
				background: $color-white;
				color: $color-flamingo;
				border-color: $color-white;
			}
		}

		.schema {
			&-creator {
				flex: 1;

				padding: 30px 50px;
				height: calc(100% - 70px);
				box-sizing: border-box;
				user-select: none;
				overflow-y: auto;
				overflow-x: hidden;
				position: relative;

				&::-webkit-scrollbar-track {
					@extend .scroll-bar-track;
				}

				&::-webkit-scrollbar {
					@extend .autocomplete-scroll-bar;
				}

				&::-webkit-scrollbar-thumb {
					@extend .editor-scroll-bar-thumb;
				}

				.base-definition,
				.datatype-definition {
					ul {
						padding-left: 50%;
						top: 39px;
						left: 0;
						display: inline-block;
						opacity: 1;
						visibility: visible;
						transition: opacity 100ms ease-in-out, visibility 100ms ease-in-out,
							top 100ms ease-in-out, height 100ms ease-in-out;
						max-width: 10px;

						li {
							position: relative;
							display: inline-block;
							padding-left: 25px;
							padding-top: 15px;
							padding-right: 7px;
							background: url("../images/schema-t-shape.png") no-repeat;

							&:last-child {
								background: url("../images/schema-l-shape.png") no-repeat;
							}

							.class-name {
								font-style: italic;
							}

							p {
								padding: 4px 10px;
								box-sizing: border-box;
								display: inline-block;
								border: 1px solid $color-white;
								color: $color-white;
								font-size: 12px;
								border-radius: 2px;
								white-space: nowrap;
								letter-spacing: 0.3px;
								cursor: pointer;
								transition: all 100ms ease-in-out;
								text-align: center;
								min-width: 80px;

								&:hover {
									background: rgba(255, 255, 255, 0.3);
								}

								.node-name {
									color: $color-white;
									padding-left: 2px;
								}

								@include node-type(
									"string",
									$color-string,
									transparentize($color-string, 0.7)
								);
								@include node-type(
									"number",
									$color-number,
									transparentize($color-number, 0.7)
								);
								@include node-type(
									"boolean",
									$color-boolean,
									transparentize($color-boolean, 0.7)
								);
								@include node-type(
									"datetime",
									$color-datetime,
									transparentize($color-datetime, 0.7)
								);
								@include node-type(
									"k-string",
									$color-kstring,
									transparentize($color-kstring, 0.7)
								);

								&.node-object {
									border: 1px solid $color-object;
									color: $color-object;
									outline: 1px dashed $color-object;
									outline-offset: -4px;

									&:hover {
										background: transparentize($color-object, 0.7);
									}
								}

								&.node-array .brackets {
									color: $color-array;
									font-weight: bold;
									font-style: italic;
								}

								&.definition-hover:hover {
									background: none;

									.class-name {
										text-decoration: underline;
									}
								}
							}

							&.add-node {
								p {
									min-width: 0;
									border: 1px dashed #667185;

									&:hover {
										background: rgba(255, 255, 255, 0.1);
									}
								}
							}
						}

						&.node-group {
							padding-left: 0;
							max-width: unset;
							position: relative;
							top: 0px;
							margin-bottom: 1.5em;

							&:first-child {
								margin-top: 15px;
							}

							&:before {
								content: "";
								width: 100%;
								height: 100%;
								position: absolute;
								left: 14px;
								top: 7px;
								border: 2px dotted transparentize($color-white, 0.8);
								border-radius: 4px;
							}

							.group-meta {
								position: absolute;
								display: inline-flex;
								justify-content: center;
								align-items: center;
								background: $color-mine-shaft;
								left: 21px;
								padding-left: 3.23px;
								border-radius: 2.5px;
								padding-right: 2.23px;
								top: 0px;
								z-index: 10;

								p {
									border: none;
									font-size: 10px;
									padding: 0;
									min-width: unset;

									.group-name {
										color: $color-silver-chalce;
									}

									.group-length {
										color: $color-casper-dark;
										font-style: italic;
									}

									&:hover {
										background: none;
									}
								}

								img {
									width: 8px;
									margin-left: 2px;
									cursor: pointer;
									opacity: 0.5;
									transition: transform 100ms ease-in-out;
								}
							}

							&.collapsed {
								cursor: pointer;

								> * {
									pointer-events: none;
								}

								.group-meta {
									pointer-events: all;
								}

								img {
									transform: rotate(-90deg);
								}

								&:hover:before {
									background-color: hsla(0, 0%, 100%, 0.04);
								}

								&:hover > .group-meta > p > .group-name {
									color: hsla(0, 0%, 100%, 0.7);
								}

								&:hover > .group-meta > img {
									opacity: 1;
								}
							}

							li {
								&:nth-child(2) {
									margin-top: 5px;

									&:before {
										content: "";
										position: absolute;
										top: -20px;
										left: 0;
										height: 20px;
										width: 1px;
										background: url("../images/straight-line.png") no-repeat;
									}
								}

								&:last-child {
									margin-bottom: 5px;

									&:after {
										content: "";
										position: absolute;
										bottom: -20px;
										left: 0;
										height: 20px;
										width: 1px;
										background: url("../images/straight-line.png") no-repeat;
									}
								}
							}
						}

						&.node-group {
							li:last-child {
								background: url("../images/schema-t-shape.png") no-repeat;
							}
						}
						&.node-collection {
							margin-top: -11px;
							li:last-child {
								background: url("../images/schema-t-shape.png") no-repeat;
							}
						}

						&.node-collection.uneditable {
							margin-top: -11px;
							li {
								&:last-child {
									background: url("../images/schema-l-shape.png") no-repeat;
								}
							}
						}
					}

					> ul {
						position: relative;
						left: unset;
						top: unset;
						padding-left: 0;

						> p {
							white-space: nowrap;
							font-size: 10px;
							color: $color-white;
							position: relative;
						}

						> li {
							padding-left: 0;
							padding-right: 0;
							background-image: none !important;
							padding-bottom: 10px;

							&:nth-child(2) {
								padding-top: 5px;
							}

							&:before {
								background: none !important;
							}
						}
					}
				}

				.base-definition {
					max-width: 40%;
				}

				.datatype-definition-container {
					position: fixed;
					right: 0;
					top: 75px;
					height: calc(100% - 102px);
					transition: right 400ms ease-in-out, height 100ms ease-in-out;
					opacity: 1;
					visibility: visible;
					z-index: 11;
					min-height: $playground-minheight - $tab-height;

					&.footer-active {
						max-height: calc(
							100% - #{$header-height} - #{$footer-minheight} - #{$resizer-height} -
								#{$tab-height}
						);
					}

					&.hide {
						opacity: 0;
						visibility: hidden;
						display: block !important;
						transition: opacity 200ms ease-out, visibility 200ms ease-in-out;

						.datatype-definition {
							right: -2000px;
							transition: right 400ms ease-in-out;
						}

						.definition-footer {
							right: -2000px;
							transition: right 400ms ease-in-out;
						}
					}

					.definition-overlay {
						width: 100%;
						height: 100%;
						background: transparentize($color-black, 0.5);
					}

					.datatype-definition {
						position: absolute;
						right: 0;
						top: 0;
						width: 70%;
						height: calc(100% - 50px);
						padding: 40px 50px;
						background: #30384a;
						transition: right 400ms ease-in-out;
						overflow-y: auto;
					}

					.definition-footer {
						position: absolute;
						bottom: 0;
						height: 50px;
						width: 70%;
						right: 0;
						padding: 10px 20px;
						display: flex;
						align-items: center;
						transition: right 400ms ease-in-out;
						background: $color-ebony-clay-lighter;

						> button {
							margin-right: 20px;
							min-width: 80px;
							border: 0;
							padding: 5px;
							border-radius: 2px;
							color: transparentize($color-white, 0.5);
							cursor: pointer;
							background: transparent;

							&:first-child,
							&:nth-child(2) {
								background: #3f4a5c;
							}
						}

						.info-msg {
							color: $color-alto;
							font-size: 0.75em;
						}
					}
				}
			}

			&-footer-panel {
				background-color: $color-dove-gray;
				height: 40px;
				line-height: 40px;

				.info-msg {
					font-size: 0.8em;
					color: $color-alto;

					.fa-info-circle {
						padding-right: 5px;
					}

					strong {
						font-weight: 600;
						font-style: italic;
						color: $color-alto;
					}
				}
			}

			&-save {
				&.btn {
					margin: 0 25px 0 50px;
				}
			}
		}

		.data-type {
			&-container {
				position: fixed;
				right: 15px;
				top: 130px;
				padding: 0;
				z-index: 10;
			}

			&-show {
				border: none;
				text-indent: -999em;
				width: 40px;
				height: 40px;
				border-radius: $k-radius;
				cursor: pointer;
				background: url("../images/schema.svg") $color-fiord no-repeat center;
				background-size: 15px;
				transform: scale(1);
				transition: transform 500ms cubic-bezier(1, 0, 0, 1),
					opacity 200ms linear;
				position: absolute;
				right: 0;
				top: 0;
				opacity: 0.6;

				&:hover {
					opacity: 1;
				}

				&.animate {
					transform: scale(0);
					transition: transform 500ms cubic-bezier(1, 0, 0, 1);
				}

				&.disabled {
					cursor: not-allowed;
				}
			}

			&-view {
				background: $color-fiord;
				border-radius: $k-radius;
				color: $color-white;
				padding: $k-padding-m $k-padding-xxl;
				min-width: 300px;
				position: relative;
				transform: scale(1);
				transition: transform 500ms cubic-bezier(1, 0, 0, 1);
				transform-origin: 100% 0;
				top: 5px;
				right: 0;

				&.animate {
					transform: scale(0);
				}
			}

			&-header {
				background: url("../images/schema.svg") no-repeat 0;
				padding: $k-padding-m 0 $k-padding-m $k-padding-xxl;
				background-size: 15px;
				font-size: 0.875em;

				h3 {
					opacity: 0.7;
					text-transform: lowercase;
				}
			}

			&-list {
				font-size: 0.85em;
				max-height: 50vh;
				overflow-y: auto;

				&::-webkit-scrollbar-track {
					@extend .scroll-bar-track;
				}

				&::-webkit-scrollbar {
					@extend .autocomplete-scroll-bar;
				}

				&::-webkit-scrollbar-thumb {
					@extend .editor-scroll-bar-thumb;
				}

				li {
					padding: $k-padding-m;
					background: $color-oxford-blue;
					border-radius: $k-radius;
					margin-bottom: $k-padding-s;
					cursor: pointer;
					color: $color-object;

					&:last-child {
						margin-bottom: 0;
					}

					&.string {
						color: $color-mantis;
					}

					&.number {
						display: block;
						margin-right: 0;
						text-align: left;
						font-size: 1em;
						height: auto;
						color: $color-flush-orange;
					}

					&.array {
						color: $color-bird-flower;
					}

					&.boolean {
						color: $color-piction-blue;
					}

					&.datetime {
						color: $color-amethyst;
					}

					&.k-string {
						color: $color-kstring;
					}

					// reserver for later use
					//&:after {
					//	content: '\2807';
					//	font-size: 1.5em;
					//	float: right;
					//	opacity: 0.1;
					//	line-height: 1em;
					//
					//}
				}
			}

			&-create {
				margin: 25px -25px -10px;
				text-align: center;
				max-height: 40px;

				&-trigger {
					cursor: pointer;
					background: $color-comet;
					color: $color-cadet-blue;
					border-radius: 0 0 $k-radius $k-radius;

					.fa {
						font-size: 10px;
					}
				}

				&-form {
					position: relative;

					input[type="text"] {
						background: $color-white;
						border: none;
						height: auto;
						padding: $k-padding-m 85px $k-padding-m $k-padding-xxl;
						font-size: 0.85em;
						color: $color-comet;
						outline-color: transparent;
						box-shadow: none;
						border-radius: 0 0 $k-radius $k-radius;

						&::placeholder {
							color: $color-cod-gray;
						}
					}

					button {
						position: absolute;
						right: 10px;
						color: $color-alto;
						border: none;
						font-size: 0.75em;
						font-weight: 600;
						top: 6px;
						padding: $k-padding-s $k-padding-m * 2;
						background: $color-bright-gray;
					}

					.error-icon,
					.warning-icon {
						position: absolute;
						right: 10px;
						top: 10px;
						width: 20px;
						height: 20px;
					}

					.error-icon {
						background: url("../images/error.svg") no-repeat;
					}

					.warning-icon {
						background: url("../images/warning.svg") no-repeat;
					}
				}
				.create-new {
					display: inline-block;
					padding: 10px;
					font-size: 0.875em;
				}
			}

			&-close {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 30px;
				height: 30px;
				top: 0;
				right: 0;
				cursor: pointer;

				img {
					width: 8px;
					opacity: 0.5;
					transition: opacity 200ms linear;
				}

				&:hover img {
					opacity: 1;
				}
			}
		}

		.property-details-overlay {
			position: fixed;
			top: 75px;
			right: 0;
			height: calc(
				100% - #{$footer-collapsedheight} - #{$header-height} - #{$tab-height}
			);
			background: transparentize($color-black, 0.7);
			z-index: 12;
			transition: height 100ms ease-in-out;
			min-height: $playground-minheight - $tab-height;

			&.footer-active {
				max-height: calc(
					100% - #{$footer-minheight} - #{$header-height} - #{$resizer-height} -
						#{$tab-height}
				);
			}
		}

		.property-details {
			width: 300px;
			position: fixed;
			border-radius: 3px;
			padding: $k-padding-l;
			text-transform: lowercase;
			background: $color-athens-gray;
			color: $color-santas-gray;

			&:before {
				width: 0px;
				height: 0px;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				border-right: 10px solid $color-athens-gray;
				content: "";
				position: absolute;
				left: -10px;
			}

			&.shakes {
				animation: shake 0.5s;
				animation-iteration-count: 2;
			}

			&.near-top:before {
				top: 85px;
			}

			&.near-bottom:before {
				bottom: 15px;
				border-right: 10px solid $color-white;
			}

			&.near-middle:before {
				top: calc(50% - 15px);
			}

			&-header {
				color: $color-blue-bayoux;
				background: $color-white;
				margin: -15px -15px 10px;
				padding: $k-padding-m $k-padding-l;
				border-radius: $k-radius $k-radius 0 0;
				font-weight: 600;
				-webkit-box-shadow: 0px 1px 1px 0px $color-mercury;
				-moz-box-shadow: 0px 1px 1px 0px $color-mercury;
				box-shadow: 0px 1px 1px 0px $color-mercury;
			}

			&-body {
				// Maximum height of the content is 55% of the screen
				max-height: 55vh;
				// Scroll the rest
				overflow: auto;

				label {
					font-weight: 700;
					font-size: 0.875em;
					color: $color-santas-gray;
					margin-bottom: 0;
				}

				textarea {
					resize: none;
					min-height: 90px;
				}

				.boolean-container {
					margin-left: 0.2rem;
					// margin-right: 1.5rem;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					flex-flow: row wrap;

					// width: 100%;

					.boolean-container-label {
						font-weight: 500;
						font-size: 0.875em;
						color: $color-santas-gray;
					}

					.boolean-children {
						display: none;
					}

					input {
						margin-right: 0.5rem;

						&:checked ~ .boolean-children {
							flex: 0 0 100%;
							display: block;
							width: 100%;
						}
					}
				}

				.advanced-section {
					cursor: pointer;
					summary {
						outline: none;
						font-weight: 700;
						font-size: 0.875em;
						color: #9aa1b1;
					}
				}

				.range-container,
				.advanced-bools {
					// Inline display with flex
					display: flex;
					align-items: center;
					justify-content: flex-start;

					.input-range {
						margin-right: 0.5rem;
						max-width: 75%;
					}
				}

				.advanced-bools {
					flex-flow: row wrap;
				}

				.range-container {
					flex-flow: row nowrap;
					label {
						margin-right: 0.5rem;
					}

					input {
						text-align: center;
					}
				}

				input,
				textarea {
					box-sizing: border-box;

					color: $color-blue-bayoux;

					&:focus {
						border-color: $color-noble;
					}

					&[disabled] {
						//Restore bulma not-disabled colors
						background-color: $color-alto;
						border-color: #dbdbdb;
						color: #363636;
						box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, 0.1);
						opacity: 0.5;
						cursor: not-allowed;
					}
				}

				.custom-field {
					font-size: 0.875em;
					align-items: center;
					display: flex;
					justify-content: flex-end;

					label {
						vertical-align: text-top;
						margin-left: 5px;
						margin-right: 5px;
					}

					input {
						cursor: pointer;
						&[disabled] {
							cursor: not-allowed;

							~ label {
								cursor: not-allowed;
								opacity: 0.6;
							}
						}
					}

					&.inline-field {
						margin-bottom: 0;

						> div {
							display: flex;
							align-items: center;
						}
					}
				}
			}

			&-footer {
				margin: 15px -15px -15px;
				color: $color-blue-bayoux;
				background: $color-white;
				padding: $k-padding-m;
				text-align: right;
				border-radius: 0 0 $k-radius $k-radius;
				-webkit-box-shadow: 0px -1px 1px 0px $color-mercury;
				-moz-box-shadow: 0px -1px 1px 0px $color-mercury;
				box-shadow: 0px -1px 1px 0px $color-mercury;

				&.not-editable {
					display: flex;
					align-items: center;
					justify-content: space-between;

					span {
						font-size: 12px;
					}
				}

				.button {
					margin-left: $k-padding-l;
					border: none;
					min-width: 80px;

					&.is-primary {
						background: $color-blue-bayoux;
					}

					&[disabled] {
						pointer-events: none;
					}
				}

				&.is-editing {
					display: flex;
					align-items: center;
					justify-content: space-between;

					.delete-button {
						margin: 0;
						min-width: 0;
						opacity: 0.8;
						transition: opacity 100ms ease-in-out;

						&:hover {
							opacity: 1;
						}

						img {
							width: 12px;
						}
					}
				}
			}
		}
	}
}

.slct-lng-bkg {
	background: #505869;
}

@keyframes shake {
	0% {
		transform: translateY(1px);
	}
	10% {
		transform: translateY(2px);
	}
	20% {
		transform: translateY(1px);
	}
	30% {
		transform: translateY(-1px);
	}
	40% {
		transform: translateY(-2px);
	}
	50% {
		transform: translateY(-1px);
	}
	60% {
		transform: translateY(1px);
	}
	70% {
		transform: translateY(2px);
	}
	80% {
		transform: translateY(1px);
	}
	90% {
		transform: translateY(-1px);
	}
	100% {
		transform: translateY(-2px);
	}
}
