//Default tooltip
.tooltip {
	cursor: pointer;
	position: relative;

	//Tooltip text container
	&::before {
		position: absolute;
		background-color: #e2e5ea;
		border-radius: 3px;
		color: $color-mine-shaft-dark;
		content: attr(aria-label); //This pulls in the text from the element with the tooltip
		padding: 0.3em 0.75em;
		text-transform: none;
		z-index: 200;
	}

	&.is-tooltip-right {
		&::before {
			top: 5px;
			left: 45px;
		}

		&::after {
			top: 12px;
			left: 40px;
		}
	}

	&.is-tooltip-bottom {
		&::before {
			top: 35px;
			right: -10px;
			left: auto;
			min-width: 190px;
		}

		&::after {
			top: 30px;
			left: 5px;
			border-top: none;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid #e2e5ea;
		}
	}

	//Setting up the transition
	&::before,
	&::after {
		font-size: 11px;
		opacity: 0;
		pointer-events: none;
		text-align: center;
	}

	//Triggering the transition
	&:hover::before,
	&:hover::after {
		opacity: 1;
		transition: all 0.5s ease;
	}
}


.kt-tooltips {
	&.show {
		background-color: $color-mirage !important;
		color: $color-white !important;

		p {
			margin-top: 10px;

			&:last-child {
				margin-bottom: 10px;
			}
		}

		&:after {
			border-top-color: $color-mirage !important;
		}
	}
}
