.table-pagination {
    display: flex;
    justify-content: flex-end;
}

.sort-container {
    display: inline-block;
}

.table-heading {
    display: flex;
}

th {
    cursor: pointer;
}

/* pagination button css */
.paginate-links {
    list-style: none;
    display: flex;
}

.paginate-links li a{
    padding: .5em 1em;
    border: 1px solid lightgray;
    background: #e6e6e6;
    cursor: pointer;
    user-select: none;
}

.zeroth-case {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zeroth-case img {
    max-height: 30vh;
    margin: 0 auto;
}

.table-zeroth-case {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 5em;
}

tbody tr {
    cursor: pointer;
}

.fw-5 {
    font-weight: 500;
}