@import '../../../_variables.scss';

.stage0header {
	color: $dustyGrey;
	padding: 1.5em;
	font-size: 36px;
	background-color: $gallery;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;

	span{
		max-width: 50%;
	}

}
