#dropdownContent {
    text-align: left;
}

#dropdownContent a {
    display: flex;
    align-items: center;
    padding: 1em;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #eeecec;
}

#dropdownContent a:last-child {
    border: none;
}

#dropdownContent a img {
    margin-right: 1em;
}

.cursor-pointer {
    cursor: pointer;
}

.pd-t0 {
    padding-top: 0 !important;
}