.k-collapse-component-header {
    display: flex;
    flex-direction: row;
}
.k-collapse-component-header p {
    font-size: 1rem;
    line-height: 1.2rem;
    max-height: 2.4rem;
    overflow: hidden;
}

.k-collapse-component-header i .fa {
    color: #ff9100;
}
