@import '../../variables';
@import '../../base';

.migrationcards-basecontainer {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 105;
	flex-direction: column;

	.padd {
		padding: 2em;
		color: white;
	}

	.minimize {
		color: $white;
		font-size: 10px;
		text-align: right;
		width: $migration-card-width;
		padding: 5px;
		position: relative;

		&>span {
			cursor: pointer;
			text-transform: uppercase;
		}

		.vertical-dots {
			position: absolute;
			right: 1em;
			top: 2em;
			z-index: 1;
			cursor: pointer;

			&.active {
				top: 5px;
				width: 1.5em;
			}
		}

		.extra-options {
			position: absolute;
			background-color: $white;
			box-shadow: 0 2px 12px 0 transparentize($black, .9);
			border-radius: $border-radius;
			right: 15px;
			top: 15px;
			z-index: 2;
			text-align: left;

			&>p {
				color: $boulder;
				font-size: 12px;
				padding: 10px 20px 10px 10px;
				font-weight: $font-weight-medium;
				cursor: pointer;

				&:hover {
					color: $kitsune-orange;
				}

				&.disabled {
					pointer-events: none;
					opacity: .5;
				}

				&:last-of-type {
					padding-top: 0;
				}
			}

			&-overlay {
				position: fixed;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: -1;
				background-color: transparent;
			}
		}
	}

	// TODO max width and height / containers
	.migration-card-size {
		width: $migration-card-width;
		min-height: 500px;
		position: relative;
		background: $white;
		border-radius: $border-radius;
	}

	.overflow-hidden{
		overflow: hidden;
	}
}
