<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NowFloats NuGet" value="https://nuget.withfloats.com/api/v2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/nowfloats/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="" />
      <add key="ClearTextPassword" value="" />
    </github>
  </packageSourceCredentials>
</configuration>