@import "../base";
@import "../variables";

.abort-crawl {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 110;
	background-color: transparentize($black, .5);
	display: flex;
	align-items: center;
	justify-content: center;

	.abort-container {
		background-color: $white;
		width: $modal-width;
		border-radius: $border-radius;

		&-header {
			@include base-modal-header($padding-beta/2, 40px, .8em);
		}

		&-content {
			padding: $padding-beta/2;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			&>p {
				margin-bottom: 1em;
			}

			&>section {
				&>button:first-child {
					margin-right: 10px;
				}
			}
		}
	}
}
