@import "../variables";
@import "../base";

.account-info {
	position: relative;
	background-color: $dove-gray;
	height: 200px;
	width: $modal-width;
	cursor: pointer;

	@include for-tablet-portrait-up {
		width: $modal-width;
	}

	.account-header {
		padding: $padding-alpha;
		color: rgba(255,255,255,0.8);
		background-color: black;
		display: flex;
		justify-content: space-between;

		.profile-pic {
			img {
				width: 100px;
				height: 100px;
				margin-right: 2em;
				border-radius: 50%;
			}
		}

		p {
			font-weight: $font-weight-thin;
			&:first-child {
				font-size: 2.5em;
				margin-bottom: 0.2em;
			}
		}
	}
}
