@import "../variables";
@import "../base";

.account {
	overflow: auto;

	.account-content {
		height: $main-content-height-phone;
		overflow-y: auto;
		padding-top: 0;

		.activeLoader {
			opacity: 0.5;
		}

		@include for-tablet-portrait-up {
			height: $main-content-height;
		}
	}


	.account-cards-wrapper {
		box-sizing: border-box;
		padding-right: $padding-alpha;
	}
}
