@import "../variables";
@import "../base";

.action-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 101;
	background-color: rgba(0,0,0,0.95);
}

.action-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: $padding-beta - 1 $padding-alpha;
	position: relative;
	transition: all 0.4s ease-in-out;

	&:hover {
		opacity: 1;
	}
}

.blank-section, .upload-section {
	width: $action-container-width-phone;
}

.upload-section {
	@include for-tablet-portrait-up {
		width: $action-container-width;
	}
}
.crawl-section {
	margin-bottom: 1em;

	@include for-tablet-landscape-up {
		width: 100%;
		margin-bottom: 5em;
	}
}

.first-container {
	padding: 2em 0;
	height: 100vh;
	overflow-y: auto;

	@include for-tablet-portrait-up {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

.action-container {
	width: 100%;
	text-align: center;
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.select-action {
	border-radius: $border-radius;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	@include for-tablet-portrait-up {
		width: $crawl-section-width-portrait;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@media screen and (orientation: landscape){
			width: $crawl-section-width-landscape;
		}
	}

	@include for-tablet-landscape-up {
		width: $crawl-section-width-landscape;
	}

	@include for-desktop-up {
		width: $crawl-section-width;
	}

	.action-button {
		width: $action-button-width;
		color: $mine-shaft;
		padding: 0.5rem 0;
		font-size: 0.8em;
		font-weight: $font-weight-bold;
		background-color: $white;
		border: 1.5px dashed $white;
		opacity: 0.7;
		margin-top: 0.6em;
		@include prefix((transition: background-color 0.3s), webkit moz o);

		&:hover {
			&:nth-child(2) {
				opacity: 1;
			}

			&:last-child {
				cursor: auto;
			}
		}

		&:nth-child(2) {
			margin-bottom: 1rem;

			@include for-tablet-landscape-up {
				margin-bottom: 0;
			}
		}

		&:focus {
			outline: 0;
		}
	}
}

.back-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 98px;
	right: 3rem;
	z-index: 102;
	box-shadow: 0px 2px 10px 0px rgba(81,81,81,0.5);
	cursor: pointer;
	background: $tundora url("../../assets/icons/arrow-left.svg") no-repeat center;
	background-size: 25px;
	@include prefix((transition: transform 0.3s), webkit moz o);
	@include prefix((transition: width 0.3s height 0.3s), webkit moz o);

	@include for-phone-only {
		top: 42px;
		right: 2rem;
	}
}
