@import '../variables';
@import '../base';

.add-money {
	&-body {
		@include base-modal-body($white, 500px);
	}

	&-header {
		@include base-modal-header(.5em $padding-beta/2, 30px, 1.5em);
		font-size: 1.5rem;
	}

	&-content {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 2em;

		> div {
			width: 100%;
			display: flex;
		}

		> .input {
			padding: .3em 1em;
			border: 1px solid $kitsune-orange;
			color: $cod-gray;
			align-items: center;
			border-radius: $border-radius;
			position: relative;

			> span:nth-of-type(1) {
				font-size: .95em;
				color: $mine-shaft;
				margin-top: 3px;
				font-weight: $font-weight-thin;
			}

			> input {
				padding: 0 0 0 2px;
				border: none;
				color: $cod-gray;
				font-size: 1.05em;
				outline: none;
				box-shadow: none;
				caret-color: $kitsune-orange;

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
		}

		> .pre-defined {
			padding: 1.5em 0;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;

			> p {
				background-color: transparentize($dustyGrey, .6);
				border: 1px solid transparentize($mine-shaft, .83);
				box-shadow: 0 1px 0 0 transparentize($silverChalice, .8);
				padding: .6em 0;
				width: 140px;
				color: transparentize($dustyGrey, .2);
				text-align: center;
				border-radius: $border-radius;
				transition: all 200ms ease-in-out;
				font-weight: $font-weight-normal;

				&:nth-of-type(1), &:nth-of-type(2) {
					margin-bottom: .5em;
				}

				@include for-tablet-portrait-up {
					background-color: transparentize($dustyGrey, .93);
					color: transparentize($dustyGrey, .3);
					width: 100px;

					&:nth-of-type(1), &:nth-of-type(2) {
						margin-bottom: 0;
					}
				}

				&:hover {
					background-color: transparentize($dustyGrey, .58);
					color: transparentize($dustyGrey, 0);
					cursor: pointer;
				}

				> span {
					font-weight: $font-weight-thin;
					font-size: .85em;

					&:first-child {
						&:before {
							content: "+ "
						}
					}

					&:last-child {
						&:after {
							content: " ";
							margin-right: 5px;
						}
					}
				}
			}
		}

		> .info {
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;

			@include for-tablet-portrait-up {
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}

			> p {
				font-size: .7em;
				color: $scorpion;
				font-style: italic;
				margin-bottom: 1em;
				line-height: 1.3;

				> span {
					color: transparentize($scorpion, .3);
				}

				@include for-tablet-portrait-up {
					margin-right: 1.5em;
					margin-bottom: 0;
				}
			}

			> button {
				text-align: right;
			}
		}

		.anaMsg {
			color: $dove-gray;
			font-size: .8em;
			margin: 0 0 .5em 3em;
		}

		.number::-webkit-inner-spin-button,
		.number::-webkit-outer-spin-button {
			-webkit-appearance: none !important;
			margin: 0 !important;
			-moz-appearance: textfield !important;
		}

		.wrong-input {
			background: url("../../assets/icons/Validation.svg") no-repeat center right .5em;
			background-size: 1.4em;
		}

		.error {
			font-size: 12px;
			margin: .5em 0 0 3em;
			color: red;
			visibility: hidden;

			&.appear {
				visibility: visible;
			}

		}

		.currency-symbol{
			background: url("../../assets/icons/indian_rupee.svg") no-repeat center center;
			background-size: 1.7em;
			padding: 1.2em;

		}

	}

}

.error-image {
	position: absolute;
	background: url("../../assets/icons/Validation.svg") no-repeat center center;
	background-size: 1.2em;
	padding: 1em;
	bottom: 7px;
	right: 0;
	visibility: hidden;

	&.active {
		visibility: visible;
	}
}
