@import "../variables";

.badge-notify {
	min-width: 22px;
	position: absolute;
	top: -9px;
	padding: 5px;
	right: -11px;
	background-color: $red;
	color: $white;
	font-size: .7em;
	border-radius: 50%;
	border: none;

	&:focus {
		color: $white;
	}
}
