@import "../variables";
@import "../base";

.crawl {
	width: $action-container-width-phone;
	height: $action-container-height-phone;
	display: block;
	opacity: 0.6;
	transition: all 0.4s ease-in-out;

	&:hover {
		opacity: 1;
	}

	@include for-tablet-portrait-up {
		width: $crawl-section-width-portrait;
		height: unset;

		@media screen and (orientation: landscape) {
			width: $crawl-section-width-landscape;
		}
	}

	@include for-tablet-landscape-up {
		width: $crawl-section-width-landscape;
	}

	@include for-desktop-up {
		width: $crawl-section-width;
	}

	.url-enter {
		width: 90%;
		padding: 0;
		position: relative;
		opacity: 0.7;

		.floating-label {
			position: absolute;
			top: -0.5em;
			left: 0;
			font-size: 10px;
			text-transform: uppercase;
			color: rgba(255,255,255,0.5);
			visibility: hidden;

			&.appear{
				visibility: visible;
			}

		}

		.project-name-error {
			position: absolute;
			left: 0;
			bottom: -1em;
			color: #ff2f2f;
			font-size: 14px;
			visibility: hidden;

			&.appear {
				visibility: visible;
			}

		}

		&:hover {
			opacity: 0.8;
		}

		@include for-tablet-portrait-up {
			width: 100%;
		}

		input {
			width: 100%;
			border: none;
			color: white;
			padding: 0.5rem 0;
			font-weight: $font-weight-thin;
			background-color: rgba(49,49,49,0.1);
			border-bottom: 2px solid $white;

			&:hover {
				outline: 0;
			}

			&:focus {
				outline: 0;
				border-bottom: 2px solid $kitsune-orange;
			}

			&::placeholder {
				opacity: 0.4;
			}

			@include placeholder(1em, auto, $white)
		}

		.url-submit {
			color: white;
			font-size: 0.8em;
			padding: 0.3rem 1rem;
			background-color: rgba(49,49,49,0.4);
			border: 1px solid $white;
			position: absolute;
			right: 0;
			border-radius: $border-radius/3;
			display: none;

			&.valid {
				display: inline-block;
				top: 0.4em;
			}

			@include prefix((transition: background-color 0.3s), webkit moz o);

			@include for-tablet-portrait-up {
				font-size: 0.8em;
				top: 2px;
			}

			&:focus {
				outline: 0;
			}

			&:hover {
				opacity: 1;
				background-color: $white;
				color: $mine-shaft;
			}
		}
	}

	p {
		margin: 1rem auto;
		opacity: 0.5;
	}

	.upload-wrapper {
		width: 90%;

		@include for-tablet-portrait-up {
			width: 80%;
		}
	}

	.drag-drop-container {
		display: block;
		width: 100%;
		height: 80px;
		position: relative;
		padding-top: $action-margin-before-after*4;
		font-size: 0.9em;
		font-weight: $font-weight-thin;
		border: 1.5px dashed $white;
		border-radius: $border-radius;
		background: url("../../assets/icons/cloud-upload.svg") no-repeat center 0.8rem;
		background-size: 2em;
		cursor: pointer;
		opacity: 0.5;

		@include prefix((transition: background-color 0.5s ease-in-out), webkit moz o);
		@include prefix((transition: transform 0.5s ease-in-out), webkit moz o);

		&.on-hover-effect {
			opacity: 0.8;
			background: rgba(255,255,255,0.95) url("../../assets/icons/cloud-upload-dark.svg") no-repeat center 0.8em;
			color: $mine-shaft;
			background-size: 2.1em;
			font-weight: $font-weight-normal;
			@include prefix((transform: translateY(-1px)), webkit moz o)
		}

		&:focus {
			outline: 0;
		}
	}
}
