@import "../variables";
@import "../base";

.create-button-container {
	position: fixed;
	right: 4rem;
	bottom: 3.5rem;
	z-index: 102;

	@include for-tablet-portrait-up {
		top: 6.1rem;
		right: 6rem;
	}

	.create-button {
		border-radius: 50%;
		box-shadow: 0px 2px 10px 0px rgba(81,81,81,0.5);
		cursor: pointer;

		&:before {
			content: " ";
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: $kitsune-orange;
			@include prefix((transition: background-color 0.3s), webkit moz o);
			@include prefix((transition: transform 0.3s ease-in-out), webkit moz o);
			position: absolute;
		}

		&:after {
			content: " ";
			width: 28px;
			height: 30px;
			background: url("../../assets/icons/plus.svg") no-repeat center;
			background-size: cover;
			position: absolute;
			left: 12px;
			top: 10px;
			@include prefix((transition: transform 0.3s ease-in-out), webkit moz o);
		}

		&:hover {
			&:before {
				transform: scale(1.1);
			}
		}
	}

	.zeroth-arrow {
		display: none;

		@include for-tablet-landscape-up {
			position: absolute;
			display: inline-block;
			top: 70px;
			right: -23px;
			height: 155px;

			@media screen and (orientation: landscape){
				height: 125px;
			}
		}

		@include for-medium-desktop-up {
			height: 155px;
		}
	}

	.create-button-active {
		box-shadow: none;

		&:before {
			background-color: $tundora;
		}

		&:after {
			@include prefix((transform: rotate(45deg)), webkit moz o);
		}
	}
}

.create-container-active {
	position: absolute;
	bottom: 4rem;
	right: 5rem;

	@include for-tablet-portrait-up {
		position: absolute;
		top: 6.1rem;
		right: 6rem;
	}
}

