@import "../variables";
@import "../base";

.credits-modal-base {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.credits-modal-parent {
		position: relative;
		z-index: 105;

		&:before {
			content: '';
			background: $kitsune-orange;
			width: $credits-width;
			height: $credits-width;
			position: absolute;
			top: -3px;
			right: 3px;
			z-index: -1;
			border-radius: $border-radius;
		}
	}

	.credits-modal-container {
		background-color: $white;
		display: flex;
		flex-direction: column;
		font-weight: 100;
		width: $credits-width;
		height: $credits-width;
		padding: 60px 0 0 60px;
		justify-content: space-between;
		border-radius: $border-radius;

		@include for-phone-only {
			width: 100vw;
			align-items: center;
			padding-left: 0;
		}

		.credits-modal-header {
			color: $kitsune-orange;

			h1 {
				font-size: 70px;
				letter-spacing: 9px;
				font-weight: 100;
				border-bottom: 1px solid transparentize($black, .8);
				display: inline-block;
				margin-bottom: 12px;
				padding-bottom: 10px;
			}

			.info {
				color: $tundora;
				font-size: .85em;
				margin-top: .2em;
				font-weight: $font-weight-normal;
			}

			.release {
				font-weight: $font-weight-thin;
				font-size: .7em;
				color: $river-bed;
				margin-top: .6em;
			}
		}

		.credits-modal-footer {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			padding-right: 25px;

			.credits-copyright {
				color: $kitsune-orange;
				padding: 0 0 20px;
				font-size: 11px;
				font-weight: 100;
			}

			img {
				height: 260px;
				opacity: .1;
			}
		}
	}
}
