@import '../variables';
@import '../main';

.dns-details-base-container{
	display: flex;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	justify-content: center;
	align-items: center;

	.dns-details-container{
		z-index: 105;

		.modal-header {
			width: $dns-modal-width;
			border-radius: $modal-border-radius $modal-border-radius 0 0;
			color: grey;
			display: flex;
			background: $modal-header-gradient;
			position: relative;
			padding: $modal-header-padding;

			@include for-phone-only {
				padding: 0.5em;
				width: 95vw;
			}

			section, div {
				width: 100%;
			}

			.k-title {
				font-size: $modal-header-title-font-size;
				padding: 1em 3.4em;
				background: url("../../assets/icons/publish-dark.svg") center left no-repeat;
				background-size: 2.4em;
				display: flex;
				flex-direction: column;
				color: $dove-gray;
				line-height: 1.5em;

				@include for-phone-only {
					background-size: 2em;
					padding: 1em 2.4em;
				}

				.modal-heading {
					font-weight: $font-weight-medium;
					font-size: 24px;
					margin-bottom: -4px;

					@include for-phone-only {
						font-size: 1em;
					}
				}

				.modal-subheading {
					font-size: .85em;
					color: $dustyGrey;
					font-weight: $font-weight-medium;

					@include for-phone-only {
						font-size: .7em;
						width: 100%;
						overflow-x: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				.project-name {
					font-size: 18px;

					@include for-phone-only {
						font-size: 16px;
					}
				}

			}

			button {
				position: absolute;
				top: 0;
				right: 0;
				border: 0;
				outline: 0;
				background: url("../../assets/icons/close_black.svg") no-repeat center center;
				padding: 1.5em;

				&:hover {
					background: url("../../assets/icons/close_black_hover.svg") no-repeat center center;
				}

			}
		}

		.modal-body{
			border-radius: 0 0 $modal-border-radius $modal-border-radius;
			background-color: $white;
			display: flex;
			min-height: 150px;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			text-align: left;
			padding: 2em;
			overflow-x: hidden;
			width: 500px;

			@include for-phone-only {
				width: 95vw;
				padding: 2em 1em;
			}

			.dots-loading{
				text-align: center;
				color: $dove-gray;
				width: 100%;
				@include dots-loading('process-name-loader',$dove-gray);
				@include k-keyframes('process-name-loader',$dove-gray);
			}

			&>section {
				width: 100%;
			}

			.update-section {
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				.kbtn-secondary {
					margin-right: 1em;
				}
			}

			.dns-button {
				background-color: transparent;
				border: none;
				text-transform: uppercase;
				font-size: .7em;
				color: $alto;

				&:focus {
					outline: 0;
				}

				&.primary {
					color: $kitsune-orange;
				}
			}

			.update-section, .details-section {
				width: 100%;
			}

			.domain-section {
				position: relative;
				width: 100%;
				padding: 5px 0;
				margin-bottom: 2em;
				border-bottom: 1px solid $silver;

				&.update {
					border-bottom: none;

					.domain-error {
						@include input-error(1.1em, 5px, 8px);
					}
				}

				&>p {
					color: $boulder;
					width: 100%;

					@include for-phone-only {
						width: 80%;
						overflow-x: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}

				&>input {
					@include input-fields(inherit, $boulder, 1em, .5rem);
				}

				&>button {
					position: absolute;
					right: 0;
					bottom: 5px;
					color: $silver;
				}

				.hovering-label {
					@include hovering-label($silver, -8px, 0, .65em);
					font-weight: $font-weight-medium;
				}

				.hovering-label-primary {
					@include hovering-label($boulder, -8px, 0, 8px);
					font-weight: 600;
				}
			}

			.unmapped-section {
				width: 100%;

				.details-docs {
					color: $kitsune-orange;
					font-size: .7em;
					font-weight: $font-weight-medium;
					text-transform: uppercase;
					margin-bottom: 10px;

					&>a {
						color: $silver;
						text-transform: lowercase;
					}
				}

				.dns-info {
					border: 1px dashed $dustyGrey;
					background-color: $gallery;
					border-radius: $border-radius;
					width: 100%;

					&>.info {
						padding: 1em;
						border-bottom: 1px solid $alto;

						&>.details {
							&>p {
								color: $tundora;
								width: 100%;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;

								@include for-phone-only {
									font-size: .8em;
								}

								&:first-child {
									color: $silver;
									font-size: .7em;
									font-weight: $font-weight-medium;
									text-transform: uppercase;
									margin-bottom: 5px;

									@include for-phone-only {
										font-size: .7em;
									}
								}
							}

							&:first-child {
								margin-bottom: 1em;
							}
						}
					}

					&>.action {
						padding: .5em 1em;

						&>span {
							font-style: italic;
							font-size: .7em;
							color: $dustyGrey;
							display: inline-block;

							@include for-phone-only {
								font-size: .6em;
								width: 70%;
							}
						}

						&>button {
							float: right;
						}
					}
				}
			}

			.support-info {
				font-style: italic;
				font-size: .7em;
				color: $dustyGrey;
			}

		}

	}

}

.slideOutRightCustom{
	transform: translateX(100%);
	opacity: 0;
}

.slideOutLeftCustom{
	transform: translateX(-100%);
	opacity: 0;
}

.animation-delay {
	transition-delay: .5s;
}

.d-none {
	display: none !important;
}
