@import "../_variables";
@import "../base";


.greeting {
	font-weight: $font-weight-thin;
	color: $alto;
	font-size: 1.1em;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.3em;

	&:hover {
		@include text-gradient-animation($white, $silver-light);
	}

	&.name {

		@include for-phone-only {
			width: $sidebar-width-phone-only*.65;
			white-space: nowrap;
		}

		@include for-tablet-portrait-up {
			width: 70%;
			white-space: nowrap;
		}
	}

	@include for-tablet-portrait-up {
		font-size: 1.8rem;
		line-height: 1.1em;
	}

	@include for-tablet-landscape-up {
		white-space: nowrap;
	}
}

.greeting-container {
	@include for-tablet-portrait-up {
		@media screen and (orientation: landscape){
			width: 60%;
		}

		@media screen and (orientation: portrait){
			width: 60%;
		}
	}

	@include for-tablet-landscape-up {
		width: 60%;
	}
}

