@import '../variables';

.loader-container {
	position: relative;
	width: 100%;
	opacity: 0.6;

	&.download {
		min-height: 61.79px;
	}

	.k-loading-screen {
		background: #f5f5f5;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 12;
		text-align: center
	}

	.k-loading-screen .k-loading-bar {
		position: relative;
		height: 2px;
		display: block;
		width: 100%;
		background-color: transparent;
		background-clip: padding-box;
		overflow: hidden;

		&.extra-height{
			min-height: 61.78px;
		}

		&.extra-height::after,
		&.extra-height::before {
			background-color: #efefef;
		}

	}


	.k-loading-screen .k-loading-bar::after,
	.k-loading-screen .k-loading-bar::before {
		content: '';
		background-color: $kitsune-orange;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		will-change: left, right;
		animation: k-loading-bar 1s cubic-bezier(.65, .815, .735, .395) infinite;
	}


	.k-loading-screen .k-loading-bar::after {
		animation: k-loading-bar-short 1s cubic-bezier(.165, .84, .44, 1) infinite;
	}

	.k-loading-screen .k-loading-bar::before{
		width: 20%;
	}

	@keyframes k-loading-bar {
		0% {
			left: -35%;
			right: 100%
		}

		100%, 80% {
			left: 100%;
			right: -80%
		}
	}

}
