@import "../../sass/_variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../base";

.components {
	width: 100%;
	height: 100%;

	@include for-tablet-landscape-up {
		display: flex;
	}

	.content {
		display: flex;
		flex-direction: column;

		@include for-tablet-landscape-up {
			width: $content-width;
		}
	}
}

.content-body {
	height: calc(100% - #{$top-nav-height-phone-only});
	background: $white;

	@include for-tablet-portrait-up {
		height: calc(100% - #{$top-nav-height});
	}
}
