@import '../variables';
@import "../main";

.preview-modal {
	width: 600px;

	.k-header-preview {
		border-radius: $modal-border-radius $modal-border-radius 0 0;
		color: grey;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: $modal-header-gradient;
		position: relative;
		padding:  $modal-header-padding;

		@include for-phone-only {
			padding: 0.5em;
		}

		.k-title{
			font-size: $k-title-font-size;
			padding: 1em 3.4em;
			background: url("../../assets/icons/preview-dark.svg") center left no-repeat;
			background-size: 2.7em;
			display: flex;
			flex-direction: column;
			color: $dove-gray;
			line-height: 1.5em;

			@include for-phone-only{
				background-size: 2.4em;
			}

			.modal-heading {
				font-weight: 500;
				font-size: 24px;
				margin-bottom: 0.1em;

				@include for-phone-only {
					font-size: 20px;
				}
			}

			.project-name {
				font-size: 15px;

				@include for-phone-only{
					font-size: 16px;
				}
			}
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			border: 0;
			outline:0;
			background: url("../../assets/icons/close_black.svg") no-repeat center center;
			padding: 1.5em;

			&:hover {
				background: url("../../assets/icons/close_black_hover.svg") no-repeat center center;
			}

		}

	}

	.preview-modal-content {
		min-height: 130px;

		.multiselect__content {
			max-height: 200px;
			overflow: auto;
		}

		.multiselect__element {
			> span:hover {
				background-color: $silver;
			}
		}

		.multiselect__tags {
			min-height: 30px;

			.multiselect__input {
				margin-bottom: 0;
			}
		}
	}

}
