@import '../variables';

.progress-bar-container {

.horizontal {
	display: inline-block;
	width: 100%;

		&.extra-border{
		padding: 0.2em;
		border: 1px solid #c1c0c0;
		border-radius: $border-radius*3;
	}

	.progress-bar {
		transition: background-color ease .2s, width 1s linear !important;
		background-color: $kitsune-orange;
	}

	.value {
		text-align: center;
		&.hidden {
			visibility: hidden;
		}
	}

	.progress {
		margin: 0;
		background-color: transparent;

		&.thin {
			height: 3px;
			}

		&.extra-thin {
			height: 2px;
		}

		&.very-thin {
			height: 2px;
			margin-bottom: 4px;
		}
		}
	}
}
