@import '../variables';
@import '../base';

.project-item-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-item {
	font-weight: 500;
	margin-bottom: 2rem;
	-webkit-box-shadow: 0 2px 5px 0 transparentize($grayDark, .3);
	box-shadow: 0 1px 5px 0 transparentize($gray, .3);
	cursor: pointer;
	padding: 0;

	@include for-desktop-up {
		max-width: 95%;
	}

	@include for-medium-desktop-up {
		max-width: unset;
	}

	@include for-tablet-portrait-up {
		margin-bottom: 3rem;
	}

	&.cursor-auto {
		cursor: auto;
	}

	&:hover, &.deactivate {

		.project-image
		{
			opacity: .55;
		}

	}

	.project-createdon-text {
		display: none;

		@include for-desktop-up-1300 {
			display: inline-block;
		}

	}

	.project-image {
		position: relative;
		overflow: hidden;
		opacity: .85;
		height: 160px;
		transition: opacity 100ms ease-in-out;

		> img {
			width: 100%;
		}

		.blur-image {
			object-fit: cover;
			object-position: center;
			filter: blur(4px);
			z-index: 1;
			position: relative;
			opacity: .5;
		}

		.real-image {
			position: absolute;
			z-index: 2;
			top : 25px;
			left: 25px;
			width: calc(100% - 50px);
			min-height: calc(100% - 25px);
			box-shadow: 0 2px 4px 0 transparentize($black, .5);

			@include for-tablet-landscape-up {
				top : 15px;
				left: 15px;
				width: calc(100% - 30px);
			}
		}

		.overlay {
			position: absolute;
			left: 0;
			top: 0;
			background-color: transparentize($black, .85);
			z-index: 1;
			opacity: .2;
		}
	}

	.project-name {
		padding: 1.2em 1.4em 1.3em;
		font-size: 1rem;
		color: #383838;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: pointer;
		text-transform: lowercase;

		&.cursor-auto {
			cursor: auto;
		}

		@include for-tablet-landscape-up {
			padding: 1.2em 1.4em 1.5em .9em;
		}
	}
}

@include for-desktop-up {
	.col-lg-3-custom {
		width: 33.33%;
	}
}

@include for-medium-desktop-up {
	.col-lg-3-custom {
		width: 25%;
	}
}
