@import '../variables';

.project-context-menu{
	position: absolute;
	right: 2.4em;
	list-style: none;
	background-color: #555555;
	padding: 0;
	font-size: 14px;
	z-index: 4;
	border-radius: $border-radius;

	ul{
		li{
			&:first-child{
				border-radius: $border-radius;
			}
		}
	}

	li {

		&:hover {
			cursor: pointer;
			background-color: #414141;

			&:first-child {
				border-radius: $border-radius $border-radius 0 0;

				&>a {
					border-top-left-radius: $border-radius;
				}
			}

			&:last-child {
				border-radius: 0 0 $border-radius $border-radius;

				&>a {
					border-bottom-left-radius: $border-radius;
				}
			}
		}

	}

	a {
		border-left: 5px solid transparent;
		display: block;
		padding: 1em 3.3em 1em 4em;
		color: $white;
		text-decoration: none;

		&:hover{
			text-decoration: none;
			color: $white;
			border-left: 5px solid $kitsune-orange;
		}

		&.publish {
			background: url("../../assets/icons/publish.svg") no-repeat 2em 1.1em;
		}

		&.preview {
			background: url("../../assets/icons/preview.svg") no-repeat 2em 1.17em;
		}

		&.optimize {
			background: url("../../assets/icons/optimize.svg") no-repeat 2em 1.15em;
		}

		&.ide {
			background: url("../../assets/icons/code.svg") no-repeat 2em 1em;
		}

		&.copy {
			background: url("../../assets/icons/makeacopy.svg") no-repeat 2em 1.1em;
		}

		&.download {
			background: url("../../assets/icons/download.svg") no-repeat 2em 1em;
		}

		&.delete {
			background: url("../../assets/icons/delete.svg") no-repeat 2em 1.1em;
		}

		&.upload {
			background: url("../../assets/icons/cloud-upload.svg") no-repeat 2em 1.1em;
			background-size: 1.2em;
		}

		&.customer{
			background: url("../../assets/icons/account-white.svg") no-repeat 1.8em 0.8em;
			background-size: 1.3em;
		}

		&.dns{
			background: url("../../assets/icons/dns_white.svg") no-repeat 1.8em 0.8em;
			background-size: 1.3em;
		}

		&.rename {
			background: url("../../assets/icons/edit.svg") no-repeat left 2em top 50%;
			background-size: .8em;
		}

		&.dataConsole {
			background: url("../../assets/icons/data-console.svg") no-repeat left 2em top 50%;
			background-size: .9em;
		}

		&.liveSiteInfo {
			background: url("../../assets/icons/live-sites.svg") no-repeat left 2em top 50%;
			background-size: .9em;
		}

		&.deactivate {
			background: url('../../assets/icons/deactivate-site.svg') no-repeat left 2em top 50%/1.1em;
		}

		&.reactivate {
			background: url('../../assets/icons/support.svg') no-repeat left 2em top 50%/1em;
		}

	}
	/*.contextUpload {
		padding: 0;

		label {
			padding: 1em 4em;
			width: 100%;
			text-align: left;
		}
	}*/

	.contextFileUpload {
		padding: 1em 4em;
		width: 100%;
		text-align: left;
		background: url("../../assets/icons/cloud-upload.svg") no-repeat 1.8em 0.9em;
		background-size: 1.2em;
		color: $white;
		cursor: pointer;
		overflow: initial;
		border-left: 5px solid transparent;

		&:hover {
			cursor: pointer;
			background-color: #414141;
			border-left: 5px solid $kitsune-orange;

		}
	}
}
