@import "../_variables.scss";
@import "../base";

.project-components{
	width: 100%;
	height: calc(100vh - #{$top-nav-height});
	box-sizing: border-box;
	background-color: $white;

	.project-main-content {
		height: $main-content-height-phone;
		overflow: auto;

		@include for-tablet-portrait-up {
			height: $main-content-height;
		}
	}

	.container-fluid {
		padding-right: 35px;
		padding-left: 35px;

		@include for-phone-only {
			padding-right: 30px;
			padding-left: 30px;
		}

		@include for-tablet-portrait-up {
			padding-right: 50px;
			padding-left: 50px;
		}
	}


	[class*=' col-']  {
		padding-left: 25px;
		padding-right: 25px;

		@include for-phone-only {
			padding-left: 20px;
			padding-right: 20px;
		}

		@include for-tablet-portrait-up {
			 padding-left: 35px;
			 padding-right: 35px;
		 }

		@include for-tablet-landscape-up {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	@include for-tablet-portrait-up {
		width: 100%;
		margin:0;
	}

}
