@import "../variables";
@import "../base";

.rename {
	&-body {
		@include base-modal-body($white, 500px);
	}

	&-header {
		@include base-modal-header(1em $padding-beta/2 1em, 20px, 1.5em);

		&>p {
			margin-top: 1px;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 2em;

		& .input-section {
			position: relative;
			width: 100%;

			&>input {
				@include input-fields($silver, $boulder, .9em, .4rem);
			}

			.hovering-label {
				@include hovering-label($boulder, -1.4em, 4px, 8px);
				font-weight: 600;
			}

			.name-error {
				@include input-error(1em, 8px, 0px);
			}
		}

		.rename-loader {
			@include loader-container($padding-alpha 3em);
		}

		.rename-margin {
			margin-top: 1.5em;
		}
	}
}

