@import "../_variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../base";
.logo {
	padding: $sidebar-link-padding;

	@include for-tablet-landscape-up {
		height: $top-nav-height;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	img {
		width: $logo-height;
		cursor: pointer;

		@include for-tablet-landscape-up {
			width: $sidebar-width*0.6;
		}
	}
}

.sidebar {
	width: $sidebar-width-phone-only;
	height: 100vh;
	background: $sidebar-bg;
	overflow: hidden;
	z-index: 105 !important;
	position: fixed;

	@include for-tablet-landscape-up {
		width: $sidebar-width;
		padding: 0px;
		position: static;
		display: block;
	}

	.sidebar-menu {
		overflow: auto;
	}

	.sidebar-link {
		min-height: $sidebar-link-height-phone-only;
		display: block;
		color: $white;
		font-size: $sidebar-link-font-size;
		cursor: pointer;
		opacity: 0.4;
		text-decoration: none;
		border-left: $sidebar-border-active-width solid transparent;

		@include for-tablet-landscape-up {
			min-height: $sidebar-link-height;
		}

		&:hover {
			background-color: rgba(255,255,255,0.15);
		}

		p {
			padding-top: $padding-alpha*1.6;
			padding-left: 4.2rem;
		}

		&.router-link-active {
			background-color: rgba(255,255,255,0.1);
			opacity: 1;

			@include for-tablet-landscape-up {
				border-left: $sidebar-border-active-width solid $white;
				background-color: transparent;

				&:hover {
					background-color: rgba(255,255,255,0.07);
				}
			}
		}

		.sidebar-menu-item-icon {
			width: 100%;
			height: 100%;
		}
	}

	.sidebar-menu-group {
		list-style: none;
		padding-bottom: 0.5rem;
		margin-bottom: 0;
		height: calc(100vh - #{$top-nav-height});
		overflow-y: auto;

		@include for-tablet-landscape-up {
			padding-bottom: 1.3rem;
			height: unset;
		}

		li {
			display: block;
			padding-left: 0;
		}

		&:not(:first-of-type) {
			padding-top: 0.5rem;
			border-top: 1px solid rgba(255,255,255,0.2);

			@include for-tablet-landscape-up {
				padding-top: 1.3rem;
			}
		}
	}

	.tooltip{
		font-size: 10px;
		font-weight: $font-weight-bold;
		opacity: 0;

		&-inner {
			background-color: $tundora;
			padding: 8px 12px;
		}

		&-arrow {
			display: none;
		}
	}

	.animate-appear {
		animation: appear 0.2s ease-in-out;
	}

	@keyframes appear {
		0% {
			left: 85px;
		}
		100% {
			left: 95px;
		}
	}
}
