@import '../variables';
@import "../base";


.verify-domain-base-container{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display: flex;
	justify-content: center;
	align-items: center;


	.verify-domain-container{
		z-index: 105;
		background-color: $white;

		.modal-header {
			border-radius: $modal-border-radius $modal-border-radius 0 0;
			width: $dns-modal-width;
			color: grey;
			display: flex;
			background: $modal-header-gradient;
			position: relative;
			padding: $modal-header-padding;

			@include for-phone-only {
				padding: 0.5em;
			}

			.k-title {
				font-size: $modal-header-title-font-size;
				padding: 1em 3.4em;
				background: url("../../assets/icons/publish-dark.svg") center left no-repeat;
				background-size: 2.4em;
				display: flex;
				flex-direction: column;
				color: $dove-gray;
				line-height: 1.5em;

				@include for-phone-only {
					background-size: 2.4em;
				}

				.modal-heading {
					font-weight: 500;
					font-size: 24px;
					margin-bottom: 0.1em;

					@include for-phone-only {
						font-size: 20px;
					}

				}
				.project-name {
					font-size: 18px;

					@include for-phone-only {
						font-size: 16px;
					}
				}

			}

			button {
				position: absolute;
				top: 0;
				right: 0;
				border: 0;
				outline: 0;
				background: url("../../assets/icons/close_black.svg") no-repeat center center;
				padding: 1.5em;

				&:hover {
					background: url("../../assets/icons/close_black_hover.svg") no-repeat center center;
				}

			}
		}

		.modal-body{
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-direction: column;
			min-height: 150px;

			.information{
				font-size: 18px;
				margin-bottom: 1em;
				text-align: center;
				width: 100%;
			}

		}

	}


}
