@import "../variables";
@import "../base";

.add-money-section {
	border: $add-money-container-border;
	padding: 0.2rem;
	color: $white;
	display: none;
	box-sizing: border-box;
	border-radius: $border-radius;

	@include for-tablet-landscape-up {
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	span {
		font-weight: $font-weight-medium;
		font-size: 0.8rem;

		&:first-child {
			font-size: 0.5rem;
			margin-left: 0.2rem;
		}

		&:last-child {
			margin-right: $padding-alpha;
		}
	}

	button {
		padding: $padding-alpha/2;
		background: $white;
		font-size: .6rem;
		font-weight: $font-weight-bold;
		color: $dove-gray;
		border: none;
		cursor: pointer;
		border-radius: $border-radius-btn;
		text-align: center;
		line-height: inherit;

		&:hover {
			color: $kitsune-orange;
		}

		&:focus {
			outline: 0;
		}
	}
}
