@import '../../../variables';

.stage7header-container {
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5.5em;
	border-radius: $border-radius;
	background: $kitsune-orange url("../../../../assets/icons/check_circle.svg") no-repeat center 6em;
	background-size: 85px;

	span {
		font-size: 44px;
		font-weight: 300;
		padding-top: 2em;
		text-align: center;
		width: 6em;
	}

}
