@import '../../../variables';
@import '../../../base';

.stage6body-container {
	padding: 2em 2em 2.4em 3em;
	display: flex;
	flex-direction: column;
	background: white;

	.stage-description {
		font-size: 44px;
		font-weight: 100;
		color: $kitsune-orange;
		padding: 1em 0 1.2em;

		&.dots-loading{
			@include dots-loading('stage-name',$kitsune-orange);
			@include k-keyframes('stage-name',$kitsune-orange);
		}

	}

	.stage-progress	{
		.information{
			display: flex;
			justify-content: space-between;
			padding-bottom: 0.3em;

			span {
				color: $mine-shaft-dark;
			}
		}
	}

}
