<template id="k-collapse-component">
    <div>
        <div class="k-collapse-component-header">
            <p :style="{color: getHeaderStyle.textColor, backgroundColor: getHeaderStyle.backgroundColor}">{{headerText}}</p>
            <i class="fa fa-chevron-up" aria-hidden="true" v-if="!isCollapsed" :style="{color: getHeaderStyle.iconColor}"></i>
            <i class="fa fa-chevron-down" aria-hidden="true" v-else></i>
        </div>
        <div v-if="!isCollapsed">
            <slot name="collapse-body"></slot>
        </div>
    </div>
</template>