 <!-- Modal -->
<div class="modal fade" id="fileupload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-wrapper upload-position" v-on:click.self="closeActiveModal">
        <div class="modal-dialog" role="document" style="min-width: calc(30vw);">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Image</h5>
                    <button type="button" onclick="cancelUpload()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="file-upload" style="cursor: pointer;" id="drop">
                        please click or drag and drop here
                    </div>
                    <div class="file-upload placeholder" id="image-placeholder" style="display:none;">
                        <div id="drpz-data">

                        </div>
                        <div class="action-buttons">
                            <button class="btn btn-green" v-if="!isErrorInUploading" v-on:click="startUploadFile">upload</button>
                            <button v-if="isFileImage && !isErrorInUploading" class="btn btn-default" onclick="processFile()">edit</button>
                            <button class="btn btn-default" onclick="cancelUpload()">change</button>
                        </div>
                    </div>
                </div>
                <button type="button" id="closeUploadModal" style="display:none" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!---->

<div id="previewTemplate" style="display:none;">
    <div class="dz-preview dz-file-preview">
        <div class="dz-details">
            <div class="dz-filename"><span data-dz-name></span></div>
            <div class="dz-image">
                <img data-dz-thumbnail />
            </div>
        </div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
</div>


<!--modal for image processing start-->

<button id="openImageProcessor" data-toggle="modal" style="display:none;" data-target=".bd-example-modal-lg">open image processor</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-wrapper upload-position" v-on:click.self="closeActiveModal">
        <div class="modal-dialog modal-lg" style="min-width: calc(60vw)">
            <div class="modal-content" style="min-height: calc(80vh - 200px)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Image</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="cancelUpload()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="image-processor-container">

                    <div class="edit-img-container" id="img-container">
                    </div>
                    <!--side bar options in image manipulation-->
                    <div class="action-btns">
                        <div class="action-containers">
                            <div>
                                <span class="action-container-label">Resize</span>
                            </div>
                            <div>
                                <div class="input-group input-group-sm mb-3 resize-container">
                                    <div class="input-group-prepend resize-label">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">width</span>
                                    </div>
                                    <input type="number" id="newWidth" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3 resize-container">
                                    <div class="input-group-prepend resize-label">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">height</span>
                                    </div>
                                    <input type="number" id="newHeight" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <button class="btn btn-default" onclick="resizeImage()">resize</button>
                            </div>
                        </div>
                        <div class="action-containers">
                            <div>
                                <span class="action-container-label">crop</span>
                            </div>
                            <div>
                                <button class="btn btn-default margin-bottom-20" onclick="processImageForCropping()">crop</button>
                                <button class="btn btn-default margin-bottom-20" onclick="updateCropCordinatesInCaman()">save</button>
                            </div>
                        </div>
                        <div class="action-containers">
                            <div class="action-btns-label">
                                <span class="action-container-label">Filters</span>
                            </div>
                            <div class="action-btns-buttons">
                                <div class="action-btns-container">
                                    <button class="btn btn-default preset margin-bottom-20" id="preset" data-preset="vintage">Vintage</button>
                                    <button class="btn btn-default preset margin-bottom-20" id="preset" data-preset="clarity">Clarity</button>
                                    <button class="btn btn-default preset margin-bottom-20" id="preset" data-preset="pinhole">Pinhole</button>
                                    <button class="btn btn-default preset margin-bottom-20" id="preset" data-preset="love">Love</button>
                                    <button class="btn btn-default preset margin-bottom-20" id="preset" data-preset="jarques">Jarques</button>
                                    @*<button class="btn btn-green" onclick="uploadFileAfterModifications()">Save</button>*@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="uploadFileAfterModifications()" class="btn btn-default btn-green">save and upload</button>
                    <button id="resetcanvas" type="button" class="btn btn-default">reset</button>
                    <button id="" type="button" onclick="backToUpload()" class="btn btn-default">back</button>
                    <button type="button" id="closeImageProcessor" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--modal for image processing end-->
