<template id="console-mode-header-component">
    <div class="row m-2">
        <div class="col col-10">
            <h6>Data Console Mode</h6>
        </div>
        <div class="col">
            <a href="/k-admin/Home/Logout" class="float-right">
                <img src="/k-admin/images/icons/power.svg" />
                <span>Logout</span>
            </a>
        </div>
    </div>
</template>