<template id="kheader">
    <div class="container-fluid">
        <div class="row header-row">
            <div class="cursor-pointer" v-tippy="{
                html: '#dropdownContent',
                trigger: 'click',
                reactive: true,
                interactive: true,
                theme: 'light',
                arrow: true,
                arrowTransform: 'translateX(-63px)',
                hideOnClick: true,
            }">
                <span>
                    {{getCustomerName}}
                </span>
                <img src="/k-admin/images/chevron-down.svg" />
            </div>
        </div>

        <div id="dropdownContent" class="hide">
            <a href="#" v-on:click="previewHandler($event)">
                <img src="/k-admin/images/icons/external-link.svg" />
                <span>Preview Website</span>
            </a>
            <a href="/k-admin/Settings">
                <img src="/k-admin/images/icons/settings.svg" />
                <span>Settings</span>
            </a>
            <a href="#" v-on:click="showGenericHelpModal">
                <img src="/k-admin/images/icons/help-circle.svg" />
                <span>Help</span>
            </a>
            <a href="/k-admin/Home/Logout">
                <img src="/k-admin/images/icons/power.svg" />
                <span>Logout</span>
            </a>
        </div>

    </div>
</template>