<template id="k-loader-component">
    <div class="k-loader" v-bind:class="{'lg': size == 'lg'}">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
    </div>
</template>