<template id="transaction-table">

    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="fw-5 text-center" scope="col" v-for="column in columnNames" v-on:click="sort(column)">
                            <span>{{formatName(column.columnName)}}</span>
                            <span class="sort-container">
                                <i v-if="(column.isActive ? !column.isAscending : true)" class="fa fa-caret-up"></i>
                                <i v-if="(column.isActive ? column.isAscending : true)" class="fa fa-caret-down"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody v-if="showPaginate">
                    <paginate v-if="showPaginate"
                              ref="paginator"
                              name="filteredList"
                              :per=ordersToShow
                              :list="filteredList">
                        <tr v-for="order in paginated('filteredList')" v-on:click="selectTransaction(order)">
                            <td class="text-center">{{formatDate(order.CreatedOn)}}</td>
                            <td class="text-center" v-bind:title="formatTransactionId(order.transaction_id)">{{formatTransactionId(order.transaction_id)}}</td>
                            <td class="text-center">{{order.amount}}</td>
                            <td v-bind:title="order.buyer_name" class="text-center">{{order.buyer_name ? order.buyer_name.substr(0, 12) : ''}} {{(order.buyer_name && order.buyer_name.length > 12) ? '...' : ''}}</td>
                            <td class="text-center">{{order.status}}</td>
                            <td class="text-center">{{order._payment_gateway}}</td>
                            <td v-bind:title="order.description" class="text-center">{{order.description.substr(0, 20)}} {{(order.description && order.description.length > 20) ? '...' : ''}}</td>
                        </tr>
                    </paginate>
                </tbody>
            </table>
        </div>
        <div class="row table-pagination" v-if="showPaginate">
            <span v-if="$refs.paginator">
                {{$refs.paginator.pageItemsCount}} Orders
            </span>
            <div>
                <paginate-links for="filteredList" :simple="{ prev: '<', next: '>' }">
                </paginate-links>
            </div>
        </div>

        <div class="container-fluid table-zeroth-case" v-if="!showPaginate">
            No Records found.
        </div>
    </div>
</template>