@import '../../../variables';

.header-container {
	color: $dustyGrey;
	//padding: 2em 2em 0; changed from 2 to 1
	padding: 1em 2em 0;
	background: $gallery;
	border-radius: $border-radius $border-radius 0 0;

	.optimizing {
		font-size: 20px;
		font-weight: 500;

		.site-name {
			font-weight: 300;
			text-decoration: underline;
		}
	}

	.stage-indicators{
		padding: 1.5em 0;

		ul {
			display: flex;
			justify-content: space-between;

			li {
				display: inline-flex;
				flex-direction: column;
				align-items: center;
				line-height: 1.2;
				position: relative;

				&:last-child {
					margin-right: 0;
				}

				.circle {
					text-align: center;
					display: inline-block;
					width: 2em;
					height: 2em;
					line-height: 2em;
					border-radius: 1em;
					color: $dustyGrey;
					font-size: 18px;
					font-weight: 800;
					background: $white;

					&.rotate {
						border: 1px solid transparent;
						border-top: 1px solid #bebebe;
						animation: spin 1s linear infinite;
					}

					&.completed {
						background: $white url("../../../../assets/icons/check_orange.svg") no-repeat center center;
						color: transparent;
						background-size: 30px;
					}
				}

				.stage-number{
					position: absolute;
					font-size: 18px;
					font-weight: 800;
					top: 0.4em;
					left: 1.38em;
					opacity: 0.4;

					&.current{
						opacity: 1;
						color: $kitsune-orange;
					}

					&.completed{
						display: none;
					}

				}

				.stage-name {
					padding-top: 0.7em;
					text-align: center;
					max-width: 5em;
					font-size: 12px;
					opacity: 0.5;

					&.current{
						opacity:1;
					}
				}
			}
		}

	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}
