.dashboard-stat2 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    padding: 15px 15px 25px 15px;
    margin-bottom: 20px;
}
.dashboard-stat2 .display {
    margin-bottom: 20px;
}
.dashboard-stat2 .display .number {
    float: left;
    display: inline-block;
}
.dashboard-stat2 .display .number h3 {
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
}
.font-blue-sharp {
    color: #5c9bd1 !important;
}
.dashboard-stat2 .display .number small {
    font-size: 14px;
    color: #9f9f9f;
    font-weight: 500;
    text-transform: uppercase;
}
.dashboard-stat2 .progress-info {
    clear: both;
}
.progress {
    border: 0;
    background-image: none;
    filter: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.dashboard-stat2 .progress-info .progress {
    margin: 0;
    height: 1px;
    clear: both;
    display: block;
}
.dashboard-stat2 .progress-info .status {
    margin-top: 5px;
    font-size: 11px;
    color: #8a8a8a;
    font-weight: 400;
    line-height: 15px;
}
#web-actions-table td {
    padding: 0;
}

#web-actions-table tr:nth-child(odd) td,
#web-actions-table tr:nth-child(odd) td input,
#web-actions-table tr:nth-child(odd) td textarea {
    background-color: #fbfcfd;
}

#web-actions-table tr:nth-child(even) td,
#web-actions-table tr:nth-child(even) td input,
#web-actions-table tr:nth-child(even) td textarea,
#web-actions-table tr.editing td,
#web-actions-table tr.editing td input,
#web-actions-table tr.editing td textarea {
    background-color: #fff;
}

#web-actions-table tr.hovered td,
#web-actions-table tr.hovered td input,
#web-actions-table tr.hovered td textarea {
    background-color: #f5f5f5;
}

#webActionsTable_wrapper input,
#webActionsTable_wrapper textarea,
#webActionsTable_wrapper select {
    padding: 5px;
    border: 1px solid #c2cad8 !important;
}

#web-actions-table tr td input,
#web-actions-table tr td textarea {
    padding: 10px;
    border: none !important;
    width: 100%;
    text-align: center;
    resize: none;
    overflow: hidden;
}

#webActionsTable {
    border: 1px solid #e7ecf1 !important;
}

#web-actions-table tr td,
#web-actions-table tr th {
    border-right: 1px solid #e7ecf1 !important;
    text-align: center;
    min-width: 100px;
    padding: 10px;
}

#web-actions-table th,
table.dataTable.no-footer {
    border-bottom: 1px solid #e7ecf1;
}

.dashboard-stat.red .details .desc {
    font-size: 4em;
}

.add-web-action {
    margin-left: 20px;
}

#web-actions-content .progress {
    height: 2px !important;
    background-color: #fff;
}

#web-actions-content .dashboard-stat2 {
    background: #f0f0f0;
    border: 1px solid #ddd;
}

#web-actions-content .dashboard-stat .visual {
    height: auto;
}

#web-actions-content #webActionsTable_filter {
    display: none;
}

#web-actions-content .number {
    word-break: break-all;
    margin: 0;
    line-height: 20px;
}

#web-actions-content .number span {
    font-size: 30px;
    letter-spacing: normal;
    text-transform: capitalize;
    text-align: center;
}

#web-actions-table.table-responsive {
    overflow-y: hidden;
}

.selected-web-action {
    box-shadow: 0px 5px 10px 0px #c3c3c3;
    background: #e5e5e5 !important;
    border: 1px solid #ccc !important;
}

.required {
    font-size: 15px;
    color: #ff3000;
    margin-left: -2px;
}

.dashboard-stat2 .display .number small {
    font-size: 20px;
}

.dashboard-stat2 .display .number h3 {
    margin-bottom: 5px;
}

.tabbable-custom {
    overflow: inherit;
}

#web-actions-table tr.editing td input.date-picker {
    cursor: pointer;
}

.tabbable-custom>.nav-tabs>li.active {
    border-top: 3px solid #ddd;
}

button.btn.add-web-action,
button.btn.save-web-action {
    border: 1px solid #bbb;
    color: #444;
}

button.btn.add-web-action:hover,
button.btn.save-web-action:hover {
    background: #d5d5d5;
    box-shadow: 2px 2px 5px 1px #ccc;
}


/*Placeholder Styling*/

 ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #bbb;
}

 :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bbb;
    opacity: 1;
}

 ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bbb;
    opacity: 1;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bbb;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bbb;
}
.webaction-dropdown button, .webaction-dropdown ul{
    width: 100%;
}
.webaction-dropdown button{
    border: 2px solid #aaa;
    color: #777;
    font-weight: 600;
    font-size: 20px;
}
.webaction-dropdown ul{
    max-height: 500px;
    overflow: auto
}
.webaction-dropdown button .uppercase{
    float: left;
}
.margin-top-10{
    margin-top: 20px;
}
.webaction-dropdown button .caret {
    float: right;
    margin-top: 10px;
    height: 20px !important;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 7px dashed;
    border-top: 7px solid\9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
img.img-url {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
table{
    min-width: 100%;
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

header.logo-env div.logo {
    display: flex;
    justify-content: center;
    min-height: 70px;
    min-width: 70px;
}