    html {
    font-family: Roboto;
}

#history > ul {
    padding-left:0;
    margin-left:0;
    font-size : 12px;
    background: none;
    margin: 7px 0 0 0;
}

#history > ul > li{
    cursor: pointer;
    color: #f06428;
}

fieldset > legend {
    display: none;
}

.historybackcontainer {
    display: flex;
}

.back {
    font-size: 50px;
    cursor: pointer;
}

.form-group.field-input,
.form-group.field-switch,
.form-group.field-label {
    display: flex;
    border: 1px dashed lightgray;
    padding: 15px;
    padding-left: 35px;
}

.form-group.field-input > label,
.form-group.field-switch > label,
.form-group.field-label > label {
    margin-right: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 26%;
    color: #949494 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.form-group.field-label .field-wrap {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.form-group.field-label .field-wrap span {
    margin: 0 !important; 
    border-bottom: 1px solid lightgray;
    padding-top: 7px;
    width: 94%;
}

.form-group.readonly.field-label label:after {
    content: ':';
    padding-left: 5px;
}

.form-group.readonly.field-input input:hover {
    cursor: pointer;
}

.form-group.readonly.field-input input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid lightgray;
    padding: 0;
    width: 98%;
}

.form-group.field-input > .field-wrap,
.form-group.field-switch > .field-wrap {
    width: 95%;
}

.form-group.field-object .wrapper {
    width: 10%;
    /*background: white !important;*/
}

.form-group.field-object legend {
    border-bottom: 0 !important;
}

.form-group.field-object .panel.panel-gray.panel-shadow {
    margin : 0;
    border: 0;
    box-shadow: none !important;
}

.form-group.field-object .panel-body {
    padding: 0;
    /*background: white !important;*/
}

/* new one */
input[type="text"]:read-only,
input[type="date"]:read-only,
input[type="number"]:read-only,
input[type="select"]:read-only {
    border: 0;
    cursor: default;
    color: #949494;
}

#schema {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 10px;
    -webkit-box-shadow: -1px 0px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 17px -6px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 17px -6px rgba(0,0,0,0.75);
    border-radius: 11px;
}

.main-content {
    /*background : #d6d6d6 !important;*/
}

.hr-line {
    margin-left: 0;
    margin-right: 0;
}

#schema-form {
    max-height: calc(100vh - 250px);
    /*overflow: auto;*/
    padding-right: 15px;
    display: flex;
}

.groups-container {
    width: 20%;
    margin-right: 30px;
}

.groups-container ul {
    list-style: none;
    font-size: 16px;
    padding: 0 30px;
    max-height: calc(100vh - 275px);
    min-height: calc(100vh - 275px);
    overflow: auto;
    background-color: #f2f1f1;
    border-radius: 13px;
    padding: 10px;
}

.groups-container ul li{
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.groups-heading {
    font-size: 16px;
    padding: 0 12px;
}

.groups-container ul li.active{
    background-color: lightgray;
    border-radius: 5px;
}

.class-native-generator .vue-form-generator {
    width: 100%;
}

.vue-form-generator {
    width: 80%;
    max-height: calc(100vh - 255px);
    overflow: auto;
    padding-right: 10px;
}

label {
    color: #949494 !important;
    font-style: normal !important;
}

.panel-body {
    padding-bottom: 0;
}

    
.header-container {
    display: flex;
    margin-left: 13px;
}

.back-btn {
    width: 20%;
}

.header-title {
    font-size: 25px;
    color: black;
}

.form-group.field-input > label:after {
    content: ':';
    padding-left: 5px;
}

.margin-right {
    margin-right: 10px;
}

.entypo-left-circled:before {
    margin-left: 0;
}

/*
    modal css
*/
#exampleModalLabel {
    display: inline-block;
    font-size: 24px;
}

.modal-body {
    max-height: 400px;
    overflow: auto;
}

.propertyList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .propertyList > p:last-child {
        flex-grow: 3
    }

.propertyTitle {
    font-size: 16px;
    font-weight: 500;
    flex-basis: 30%;
}

.propertyName, .propertyDesc {
    flex-basis: 30%;
    font-size: 14px;
}

.propertyDesc {
    flex-grow: 3;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn {
    transition: all 0.2s ease-in-out;
    color: #000000;
}

.modal-btn:hover {
    background-color: #f06428;
    color: #ffffff;
}

.panel-body.class-native .form-group.field-input,
.panel-body.class-native .form-group.field-switch {
    border: 0;
    padding: 0;
}

.entypo-info-circled {
    cursor: pointer;
}

.modal-updates {
    font-size: 16px;
}

.report-issue {
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    position: absolute;
    bottom: 20px;
    right: 12px;
    width: 100%;
}

.modal-image-container {
    /*max-width: 800px;
    max-height: 800px;*/
}

 /*modal form uploading files*/
.file-upload {
    height: 300px;
    border: 1px dashed lightgray;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dz-details {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.dz-filename {
    margin-top: 24px;
}

.action-buttons .btn {
    margin-left: 10px;
}


.placeholder {
    flex-direction: column;
    display: flex;
    width: 100%;
}

#drpz-data {
    height: 50%;
    width: 100%;
    justify-content:center;
}

.action-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 90px;
    margin-right: 30px;
}

/*#image-processor-container {
    display: flex;
    flex-direction: row;
}*/

/*.margin-bottom-20 { 
    margin-bottom: 20px;
}*/

.modal-backdrop {
    z-index: 1049;
}

.action-containers {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px dashed lightgray;
}

.action-container-label:after {
    content: ':';
    margin-left: 5px;
}

/*scrollbar design*/
#sc-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#sc-bar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#sc-bar::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
}

.current-property {
    font-size: 16px;
    padding: 5px;
}

.objtitle {
    font-weight: 500;
}

.header-row {
    padding: 1em;
    justify-content: flex-end;
}

.header-row a {
    padding: 0.6em 1em;
    border-bottom: 1px solid;
}