<template id="callsdetail">
    <div class="details-container">
        <table class="table table-bordered text-center totals">
            <thead>
                <tr>
                    <th>Total Calls</th>
                    <th>Connected Calls</th>
                    <th>Missed Calls</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{totalCallsCount}}</td>
                    <td>{{connectedCallsCount}}</td>
                    <td>{{missedCallsCount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>