<template id="callTracker">
    <div>

        <div class="tracker-table mt-3">
            <table class="table table-striped log-table">
                <thead>
                    <tr>
                        <th class="cursor-pointer"
                            v-on:click="sortDateTimeColumn">
                            <span>Date Time</span>
                            <span class="sort-container">
                                <i v-if="(dateTimeColumn.isActive ? !dateTimeColumn.isAscending : true)" class="fa fa-caret-up"></i>
                                <i v-if="(dateTimeColumn.isActive ? dateTimeColumn.isAscending : true)" class="fa fa-caret-down"></i>
                            </span>
                        </th>
                        <th>Caller Number</th>
                        <th>Call Tracker Number</th>
                        <th>Status</th>
                        <th>Recording</th>
                    </tr>
                </thead>
                <tbody v-if="showData">

                    <paginate v-if="showData"
                              ref="paginator"
                              name="LogsForAllCalls"
                              :per=logsPerPage
                              :list="LogsForAllCalls">
                        <tr v-for="log in paginated('LogsForAllCalls')">
                            <td>{{formatDate(log.callDateTime)}}</td>
                            <td>{{log.callerNumber}}</td>
                            <td>{{log.calleeNumber}}</td>
                            <td>{{formatText(log.callStatus)}}</td>
                            <td v-if="isValidUrl(log.recordingUrl)">
                                <audio controls>
                                    <source :src="log.recordingUrl" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </td>
                            <td v-else>
                                No Recording Available.
                            </td>
                        </tr>
                    </paginate>

                </tbody>
            </table>

            <span v-if="!showData" class="no-records-found">No Records Found.</span>
        </div>

        <div class="table-pagination m-3" v-if="showData">
            <span v-if="$refs.paginator">
                {{$refs.paginator.pageItemsCount}} Logs
            </span>
            <div>
                <paginate-links for="LogsForAllCalls" :simple="{ prev: '<', next: '>' }">
                </paginate-links>
            </div>
        </div>

    </div>
    
</template>
