@import '../../../variables';

.stage4footer-base-container {
	background: $white;
	text-align: right;
	border-radius: 0 0 4px 4px;
	min-height: 100px;

	.stage4footer-container {
		padding: 1.7em;
		span {
			opacity:0.3;
			font-size: 36px;
		}
	}
}
